.cards-components a + .cards-components a {
  margin-left: 5px;
}

a.c-card {
  color: #191919 !important;
  text-decoration: none;
}

.card-button {
  column-gap: 1rem;
}

.card-button .btn {
  margin: 0;
}
