//@import 'variables';
// Copied variables.scss content here locally.
$glide-class: "glide" !default;
$glide-element-separator: "__" !default;
$glide-modifier-separator: "--" !default;
$uds-breakpoint-sm: 576px;
$uds-color-base-gray-7: #191919;
$uds-color-brand-gold: #ffc627; // ASU Gold brand color

.#{$glide-class} {
  $this: &;

  display: flex;
  flex-direction: column;
  gap: 32px;

  // Gradient variations wired up to js in component.
  // .glide.slider-start::after rule w/o "to right"
  // .glide.slider-mid::after rule w/ both
  // .glide.slider-end::after rule w/o "to left"

  // Linear-gradients.
  position: relative;
  margin-bottom: 11rem;
  // At start, no "to right" in ::after rule
  &.slider-start::after {
    // .glide::after
    background: linear-gradient(
      to left,
      rgba(25, 25, 25, 0.2),
      48px,
      rgba(255, 255, 255, 0) 96px
    );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }
  // In the middle, show both gradients.
  &.slider-mid::after {
    // .glide::after
    background: linear-gradient(
        to right,
        rgba(25, 25, 25, 0.2),
        48px,
        rgba(255, 255, 255, 0) 96px
      ),
      // Use gradient stacking for right edge.
      linear-gradient(
          to left,
          rgba(25, 25, 25, 0.2),
          48px,
          rgba(255, 255, 255, 0) 96px
        );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }
  // At end, no "to left" in ::after rule
  &.slider-end::after {
    // .glide::after
    background: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.2),
      48px,
      rgba(255, 255, 255, 0) 96px
    );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  &#{$se}slides {
    margin-bottom: 0; // Avoid gap, for gradient,
  }

  // Arrows.
  &#{$se}arrows {
    z-index: 2;
    align-self: center;

    //&#{$se}arrow {
    .glide__arrow {
      color: #191919;
      width: 4rem;
      height: 4rem;
      margin: 0 0.75rem;
      background-color: #e8e8e8;
      border: 1px solid #d0d0d0; // rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      font-size: 2rem;
      text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
      opacity: 1;
      cursor: pointer;
      transition: opacity 150ms ease, border 300ms ease-in-out;
      line-height: 1;

      &.glide__arrow--disabled {
        color: #e8e8e8;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        opacity: 1;
      }

      svg {
        height: 1.25rem;
        position: relative;
        bottom: 0.125rem;
      }

      &:focus {
        outline: none;
      }
      &:hover {
        border-color: white;
      }

      &#{$sm}left {
        left: 2em;
      }

      &#{$sm}right {
        right: 2em;
      }

      &#{$sm}disabled {
        opacity: 0.33;
      }
    }
  }

  // Bullets
  &#{$se}bullets {
    z-index: 2;
    list-style: none;
    max-width: 100%;
    display: flex;
    justify-content: center;

    @media only screen and (max-width: $uds-breakpoint-sm) {
      display: none;
    }
  }

  &#{$se}bullet {
    transition: all 300ms ease-in-out;
    background-color: #d0d0d0; // rgba(255, 255, 255, 0.5);
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.5em;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      border: 1px solid #d0d0d0;
      background-color: #191919; // rgba(255, 255, 255, 0.5);
    }

    &#{$sm}active {
      background-color: #191919; //white;
    }
  }

  &.image-gallery {
    gap: 16px;
    border: 1px solid #d0d0d0;
    overflow: hidden;

    figcaption {
      padding: 0.75rem;
      font-size: 0.75rem;
    }

    .image-navigator {
      position: relative;
      .glide__arrows {
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        // z-index: -1;

        .glide__arrow {
          width: 2rem;
          height: 2rem;
          display: flex;
          align-items: center;
          justify-content: center;
          // z-index: 3;
          svg {
            height: 1rem;
            position: static;
          }
        }
      }
    }
    .bullet-image {
      flex-basis: auto;
      max-height: 40px;
      width: 88px;
      height: 48px;
      border-radius: 0;
      z-index: 3;
    }
    // glide__bullet bullet-image glide__bullet--active
    .#{$glide-class}__bullet--active {
      background-color: transparent;
      border: 5px solid $uds-color-brand-gold;
    }
  }

  &#{$sm}swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &#{$sm}dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  button:focus,
  a:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #191919 !important;
  }

  figure.uds-figure {
    margin: 0;

    figcaption *,
    .uds-caption-text {
      color: $uds-color-base-gray-7;
    }
  }
}
