//@import 'variables';
// Copied variables.scss content here locally.
$glide-class: "glide" !default;
$glide-element-separator: "__" !default;
$glide-modifier-separator: "--" !default;
$uds-breakpoint-sm: 576px;
$uds-color-base-gray-7: #191919;
$uds-color-brand-gold: #ffc627; // ASU Gold brand color

.#{$glide-class} {
  $this: &;

  display: flex;
  flex-direction: column;
  gap: 32px;

  // Gradient variations wired up to js in component.
  // .glide.slider-start::after rule w/o "to right"
  // .glide.slider-mid::after rule w/ both
  // .glide.slider-end::after rule w/o "to left"

  // Linear-gradients.
  position: relative;
  margin-bottom: 11rem;
  // At start, no "to right" in ::after rule
  &.slider-start::after {
    // .glide::after
    background: linear-gradient(
      to left,
      rgba(25, 25, 25, 0.2),
      48px,
      rgba(255, 255, 255, 0) 96px
    );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }
  // In the middle, show both gradients.
  &.slider-mid::after {
    // .glide::after
    background: linear-gradient(
        to right,
        rgba(25, 25, 25, 0.2),
        48px,
        rgba(255, 255, 255, 0) 96px
      ),
      // Use gradient stacking for right edge.
      linear-gradient(
          to left,
          rgba(25, 25, 25, 0.2),
          48px,
          rgba(255, 255, 255, 0) 96px
        );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }
  // At end, no "to left" in ::after rule
  &.slider-end::after {
    // .glide::after
    background: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.2),
      48px,
      rgba(255, 255, 255, 0) 96px
    );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  &#{$se}slides {
    margin-bottom: 0; // Avoid gap, for gradient,
  }

  // Arrows.
  &#{$se}arrows {
    z-index: 2;
    align-self: center;

    //&#{$se}arrow {
    .glide__arrow {
      color: #191919;
      width: 4rem;
      height: 4rem;
      margin: 0 0.75rem;
      background-color: #e8e8e8;
      border: 1px solid #d0d0d0; // rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      font-size: 2rem;
      text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
      opacity: 1;
      cursor: pointer;
      transition: opacity 150ms ease, border 300ms ease-in-out;
      line-height: 1;

      &.glide__arrow--disabled {
        color: #e8e8e8;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        opacity: 1;
      }

      svg {
        height: 1.25rem;
        position: relative;
        bottom: 0.125rem;
      }

      &:focus {
        outline: none;
      }
      &:hover {
        border-color: white;
      }

      &#{$sm}left {
        left: 2em;
      }

      &#{$sm}right {
        right: 2em;
      }

      &#{$sm}disabled {
        opacity: 0.33;
      }
    }
  }

  // Bullets
  &#{$se}bullets {
    z-index: 2;
    list-style: none;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  &#{$se}bullet {
    transition: all 300ms ease-in-out;
    background-color: #d0d0d0; // rgba(255, 255, 255, 0.5);
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.5em;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      border: 1px solid #d0d0d0;
      background-color: #191919; // rgba(255, 255, 255, 0.5);
    }

    &#{$sm}active {
      background-color: #191919; //white;
    }
  }

  &.image-gallery {
    $thumbnail-width: 88px;
    $thumbnail-height: 48px;
    $element-gap: 16px;
    $image-navigator-height: $thumbnail-height + $element-gap;
    $border-element: 1px solid #d0d0d0;
    gap: 0;
    overflow: hidden;

    .glide__track {
      border: $border-element;
    }

    .image-gallery-action-area {
      border: $border-element;
      border-top: 0;

      &[data-has-content="true"] {
        .image-navigator {
          border-bottom: $border-element;
        }
        .uds-caption-text {
          padding: 1rem 0;
          display: inline-block;
        }
      }
    }

    figcaption {
      padding: 0 0.75rem;
      font-size: 0.75rem;
    }

    .image-navigator {
      position: relative;
      min-height: $image-navigator-height;
      padding-top: 1rem;
      padding-bottom: 1rem;

      .glide__arrows {
        width: max-content;
        display: flex;
        justify-content: space-between;

        .glide__arrow {
          $btn-nav-size: 1.5rem;
          width: $btn-nav-size;
          height: $btn-nav-size;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;
          position: absolute;
          transform: translateY(50%);

          svg {
            height: 0.8rem;
            position: static;
          }

          &.glide__arrow--prev {
            left: 0;
          }
          &.glide__arrow--next {
            right: 0;
          }
        }
      }
    }

    .bullet-image {
      flex-basis: auto;
      width: 88px;
      height: 48px;
      border-radius: 0;
      border: 0;
      z-index: 2;
    }

    .#{$glide-class}__bullet--active {
      background-color: transparent;
      border: 5px solid $uds-color-brand-gold;
    }
  }

  @media only screen and (max-width: $uds-breakpoint-sm) {
    &:not(&.image-gallery) {
      .glide__bullets {
        display: none;
      }
    }
    &.image-gallery {
      .image-navigator .glide__arrows .glide__arrow {
        display: none;
      }
    }
  }

  &#{$sm}swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &#{$sm}dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  button:focus,
  a:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #191919 !important;
  }

  &.image-gallery,
  &.image-carousel {
    @mixin li-inactive-border {
      li:not(.glide__slide--active) img {
        border: 0;
      }
    }

    &[role="figure"],
    figure.uds-figure {
      margin: 0;

      figcaption *,
      .uds-caption-text {
        color: $uds-color-base-gray-7;
      }

      @include li-inactive-border;
    }

    @include li-inactive-border;
  }
}
