//@import 'variables';
// Copied variables.scss content here locally.
$glide-class: "asu-carousel" !default;
$glide-element-separator: "__" !default;
$glide-modifier-separator: "--" !default;
$uds-breakpoint-sm: 576px;
$uds-breakpoint-lg: 1200px;
$uds-color-base-gray-7: #191919;
$uds-color-brand-gold: #ffc627; // ASU Gold brand color

@mixin shadow {
  // At start, no "to right" in ::after rule
  &.slider-start::after {
    // .glide::after
    background: linear-gradient(
      to left,
      rgba(25, 25, 25, 0.2),
      48px,
      rgba(255, 255, 255, 0) 96px
    );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }
  // In the middle, show both gradients.
  &.slider-mid::after {
    // .glide::after
    background: linear-gradient(
        to right,
        rgba(25, 25, 25, 0.2),
        48px,
        rgba(255, 255, 255, 0) 96px
      ),
      // Use gradient stacking for right edge.
      linear-gradient(
          to left,
          rgba(25, 25, 25, 0.2),
          48px,
          rgba(255, 255, 255, 0) 96px
        );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }
  // At end, no "to left" in ::after rule
  &.slider-end::after {
    // .glide::after
    background: linear-gradient(
      to right,
      rgba(25, 25, 25, 0.2),
      48px,
      rgba(255, 255, 255, 0) 96px
    );
    content: "\00a0";
    height: 100%;
    position: absolute; // Breaks swipe, unless...
    pointer-events: none; // ... we use this.
    width: 100%;
    top: 0;
  }
}

@media only screen and (min-width: 577px) {
  .container .aligned-carousel {
    margin-left: -124px !important;
  }
}

.#{$glide-class} {
  $this: &;

  display: flex;
  flex-direction: column;
  gap: 32px;

  // Gradient variations wired up to js in component.
  // .glide.slider-start::after rule w/o "to right"
  // .glide.slider-mid::after rule w/ both
  // .glide.slider-end::after rule w/o "to left"

  // Linear-gradients.
  position: relative;

  $se: $glide-element-separator;
  $sm: $glide-modifier-separator;

  &#{$se}slides {
    [data-image-auto-size="true"] & .glide__slide {
      height: auto;
      position: relative;
      display: inline-flex;
      justify-content: center;

      & > div.uds-img {
        display: flex;
        width: 100%;
        max-width: 100%;
        img {
          flex-grow: 1;
          object-fit: cover;

          &.uds-img {
            max-width: 100%;
          }
        }

        & figure.uds-figure {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
        }
      }
    }
  }

  .glide__track {
    position: relative;

    .glide__slides {
      margin-bottom: 0;
    }
  }

  &[data-has-shadow = "true"] .glide__track {
    @include shadow();
  }

  // Arrows.
  &#{$se}arrows {
    z-index: 2;
    align-self: center;

    //&#{$se}arrow {
    .glide__arrow {
      color: #191919;
      width: 4rem;
      height: 4rem;
      margin: 0 0.75rem;
      background-color: #e8e8e8;
      border: 1px solid #d0d0d0; // rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      font-size: 1.3rem;
      text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
      opacity: 1;
      cursor: pointer;
      transition: opacity 150ms ease, border 300ms ease-in-out;
      line-height: 1;

      &.glide__arrow--disabled {
        color: #e8e8e8;
        background-color: #fafafa;
        border: 1px solid #e8e8e8;
        opacity: 1;
      }

      &:focus {
        outline: none;
      }
      &:hover {
        border-color: white;
      }

      &#{$sm}left {
        left: 2em;
      }

      &#{$sm}right {
        right: 2em;
      }

      &#{$sm}disabled {
        opacity: 0.33;
      }
    }
  }

  // Bullets
  &#{$se}bullets {
    z-index: 2;
    list-style: none;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  &#{$se}bullet {
    transition: all 300ms ease-in-out;
    background-color: #d0d0d0; // rgba(255, 255, 255, 0.5);
    width: 1rem;
    height: 1rem;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    line-height: 0;
    margin: 0 0.5em;

    &:focus {
      outline: none;
    }

    &:hover,
    &:focus {
      border: 1px solid #d0d0d0;
      background-color: #191919; // rgba(255, 255, 255, 0.5);
    }

    &#{$sm}active {
      background-color: #191919; //white;
    }
  }

  &.aligned-carousel {
    width: calc(1200px + 124px * 2);
    margin: auto;
  }

  &.image-gallery {
    $thumbnail-width: 88px;
    $thumbnail-height: 48px;
    $element-gap: 16px;
    $image-navigator-height: $thumbnail-height + $element-gap;
    $border-element: 1px solid #d0d0d0;
    gap: 0;
    overflow: hidden;

    .glide__track {
      border: $border-element;

      &::after {
        content: none;
      }

      .#{$glide-class}#{$se}slides {
        & li.glide__slide {
          display: list-item;
        }
        margin-bottom: 0; // Avoid gap, for gradient,
        height: 100%;
        .glide__slide {
          & > div.uds-img {
            height: 100%;
            img {
              object-fit: cover;
              border: none;
            }
          }
        }
      }
    }

    .image-gallery-action-area {
      border: $border-element;
      border-top: 0;

      &[data-has-content="true"] {
        .image-navigator {
          border-bottom: $border-element;
        }
        .uds-caption-text {
          padding: 1rem 0;
          display: inline-block;
        }
      }
    }

    figcaption {
      padding: 0 0.75rem;
      font-size: 0.75rem;
    }

    .image-navigator {
      position: relative;
      .image-navigator-images {
        min-height: $image-navigator-height;
        padding-top: 1rem;
        padding-bottom: 1rem;
        width: 100%;
        margin: auto;
        overflow: hidden;

        @include shadow();

        .navigation-slider {
          position: relative;
          left: 0px;

          .asu-carousel__bullets {
            position: relative;
            .bullet-image-container {
              position: relative;
              margin: 0 0.5rem;
              height: 48px;

              &:first-child {
                margin-left: 16rem;
              }

              .bullet-image {
                flex-basis: auto;
                width: 88px;
                height: 100%;
                border-radius: 0;
                border: 0;
                z-index: 2;
                object-fit: cover;
                margin: 0;
              }
            }

            .glide__bullet--active {
              background-color: transparent;
              border: 5px solid $uds-color-brand-gold;
            }
          }
        }
      }

      .asu-carousel__arrows {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .glide__arrow {
          $btn-nav-size: 2.5rem;
          width: $btn-nav-size;
          height: $btn-nav-size;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 3;
          position: absolute;
          background-color: #ffffff;

          &:hover {
            border-color: #d0d0d0;
          }

          .arrow-icon {
            font-size: 1rem;
          }
          &.glide__arrow--prev {
            left: 0;
          }
          &.glide__arrow--next {
            right: 0;
          }
        }
      }
    }
  }

  @media only screen and (max-width: $uds-breakpoint-sm) {
    &:not(&.image-gallery) {
      .asu-carousel__bullets {
        display: none;
      }
    }
    &.image-gallery {
      width: calc(100% - 40px);
      margin: auto !important;
      .image-navigator .image-navigator-images .asu-carousel__arrows .glide__arrow {
        display: none;
      }
    }
  }

  @media only screen and (max-width: $uds-breakpoint-lg) {
    &.aligned-carousel {
      width: calc(100% - 40px);
    }
  }

  &#{$sm}swipeable {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
  }

  &#{$sm}dragging {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }

  &[data-remove-side-background="true"] {
    &::after,
    &::before {
      content: none;
    }
  }

  button:focus,
  a:focus,
  input:focus,
  textarea:focus,
  select:focus {
    outline: none !important;
    box-shadow: 0px 0px 0px 2px #ffffff, 0px 0px 0px 4px #191919 !important;
  }

  &.image-gallery,
  &.image-carousel {
    margin: auto;
    @mixin li-inactive-border {
      li:not(.glide__slide--active) img {
        border: 0;
      }
    }

    &[role="figure"],
    figure.uds-figure {
      margin: 0;

      figcaption *,
      .uds-caption-text {
        color: $uds-color-base-gray-7;
      }

      @include li-inactive-border;
    }

    @include li-inactive-border;
  }
}
