<!doctype html>
<html lang="en">

<head>
  <title>Google Tag Manager (GTM) and data layer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap includes for asu-web-standards-bootstrap4-->
  <link rel="stylesheet" href="../@asu/unity-bootstrap-theme/css/unity-bootstrap-theme.bundle.css" type="text/css" media="all">
  <script type="text/javascript" src="../@asu/unity-bootstrap-theme/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../@asu/unity-bootstrap-theme/js/data-layer.js"></script>
  <script type="text/javascript" src="../@asu/unity-bootstrap-theme/js/global-header.js"></script>
  <script src="https://kit.fontawesome.com/35fb12a3a9.js" crossorigin="anonymous"></script>

  <style>
    /** Basic resets **/
    html {
      box-sizing: border-box;
      font-size: 16px;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: Arial;
    }

    ol,
    ul {
      list-style: bullet;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul {
      margin: 1rem 2rem;

    }
  </style>
</head>

<body>
<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <header
            class="fixed-top"
            data-elastic-exclude="data-elastic-exclude"
            id="asu-header"
          >
            <div id="wrapper-header-top">
              <div class="container-xl">
                <div class="row">
                  <div
                    class="col-12"
                    id="header-top"
                  >
                    <nav
                      aria-label="ASU"
                      class="nav"
                    >
                      <a
                        class="nav-link visually-hidden visually-hidden-focusable"
                        href="#skip-to-content"
                      >
                        Skip to main content
                      </a>
                      <a
                        class="nav-link visually-hidden visually-hidden-focusable"
                        href="http://asu.edu/accessibility/feedback?a11yref=unity-design-system"
                      >
                        Report an accessibility problem
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="asu home"
                        data-ga-header-section="topbar"
                        href="https://asu.edu"
                      >
                        ASU Home
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="my asu"
                        data-ga-header-section="topbar"
                        href="https://my.asu.edu"
                      >
                        My ASU
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="colleges and schools"
                        data-ga-header-section="topbar"
                        href="https://www.asu.edu/academics/colleges-schools"
                      >
                        Colleges and Schools
                      </a>
                      <div class="nav-link login-status">
                        <a
                          class="name"
                          href="#"
                        >
                          Sparky
                        </a>
                        <a
                          class="signout"
                          data-ga-header="sign out"
                          data-ga-header-section="topbar"
                          href="#"
                        >
                          Sign Out
                        </a>
                      </div>
                      <form
                        action="https://search.asu.edu/search"
                        class="form-inline"
                        method="get"
                        name="gs"
                      >
                        <input
                          aria-labelledby="header-top-search"
                          class="form-control"
                          data-ga-input-header-event="search"
                          name="q"
                          required
                          type="search"
                        />
                        <label id="header-top-search">
                          Search asu.edu
                        </label>
                        <input
                          name="site"
                          type="hidden"
                          value="default_collection"
                        />
                        <input
                          name="sort"
                          type="hidden"
                          value="date:D:L:d1"
                        />
                        <input
                          name="output"
                          type="hidden"
                          value="xml_no_dtd"
                        />
                        <input
                          name="ie"
                          type="hidden"
                          value="UTF-8"
                        />
                        <input
                          name="oe"
                          type="hidden"
                          value="UTF-8"
                        />
                        <input
                          name="client"
                          type="hidden"
                          value="asu_frontend"
                        />
                        <input
                          name="proxystylesheet"
                          type="hidden"
                          value="asu_frontend"
                        />
                      </form>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div id="wrapper-header-main">
              <div class="container-xl">
                <div class="row">
                  <div
                    class="col-12"
                    id="header-main"
                  >
                    <div class="navbar navbar-expand-xl">
                      <div class="container-fluid">
                        <a
                          class="navbar-brand"
                          data-ga-header="asu logo"
                          href="#"
                        >
                          <img
                            alt="Arizona State University"
                            class="vert"
                            src="https://www.asu.edu/asuthemes/5.0/assets/arizona-state-university-logo-vertical.png"
                          />
                          <img
                            alt="Arizona State University"
                            class="horiz"
                            src="https://www.asu.edu/asuthemes/5.0/assets/arizona-state-university-logo.png"
                          />
                        </a>
                        <button
                          aria-controls="menubar"
                          aria-expanded="false"
                          aria-label="Toggle navigation"
                          class="navbar-toggler collapsed"
                          data-ga-header="menu button label"
                          data-ga-header-event="collapse"
                          data-ga-header-type="click"
                          data-bs-target="#menubar"
                          data-bs-toggle="collapse"
                          type="button"
                        >
                          <span
                            alt=""
                            class="fa fa-bars"
                            title="Open mobile menu"
                          ></span>
                          <span
                            class="fa-stack"
                            title="Close mobile menu"
                          >
                            <i
                              alt=""
                              class="fa fa-circle fa-stack-2x"
                            >
                            </i>
                            <i
                              alt=""
                              class="fa fa-times fa-stack-1x"
                            ></i>
                          </span>
                        </button>
                        <div class="navbar-container no-links">
                          <div class="title subdomain-name">
                            <a
                              data-ga-header="Subdomain name"
                              href="#"
                              title="Subdomain name home page"
                            >
                              Unity Design
                            </a>
                          </div>
                          <div
                            class="collapse navbar-collapse w-100 justify-content-between"
                            id="menubar"
                          >
                            <div class="navbar-mobile-footer pinned">
                              <form
                                action="https://search.asu.edu/search"
                                class="form-inline navbar-mobile-search"
                                method="get"
                                name="gs"
                              >
                                <input
                                  aria-label="Search"
                                  class="form-control"
                                  name="q"
                                  placeholder="Search asu.edu"
                                  type="search"
                                />
                                <input
                                  name="site"
                                  type="hidden"
                                  value="default_collection"
                                />
                                <input
                                  name="sort"
                                  type="hidden"
                                  value="date:D:L:d1"
                                />
                                <input
                                  name="output"
                                  type="hidden"
                                  value="xml_no_dtd"
                                />
                                <input
                                  name="ie"
                                  type="hidden"
                                  value="UTF-8"
                                />
                                <input
                                  name="oe"
                                  type="hidden"
                                  value="UTF-8"
                                />
                                <input
                                  name="client"
                                  type="hidden"
                                  value="asu_frontend"
                                />
                                <input
                                  name="proxystylesheet"
                                  type="hidden"
                                  value="asu_frontend"
                                />
                              </form>
                              <div class="nav-grid">
                                <a
                                  class="nav-link"
                                  data-ga-header="asu home"
                                  data-ga-header-section="topbar"
                                  href="https://asu.edu"
                                >
                                  ASU Home
                                </a>
                                <a
                                  class="nav-link"
                                  data-ga-header="my asu"
                                  data-ga-header-section="topbar"
                                  href="https://my.asu.edu"
                                >
                                  My ASU
                                </a>
                                <a
                                  class="nav-link"
                                  data-ga-header="colleges and schools"
                                  data-ga-header-section="topbar"
                                  href="https://www.asu.edu/academics/colleges-schools"
                                >
                                  Colleges and Schools
                                </a>
                                <a
                                  class="nav-link"
                                  data-ga-header="sign in"
                                  data-ga-header-section="topbar"
                                  href="https://weblogin.asu.edu/cgi-bin/login"
                                >
                                  Sign In
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div
            class="wrapper"
            id="page-wrapper"
          >
            <div
              class="visually-hidden"
              id="skip-to-content"
            >
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <!-- Include pre-rendered AsuBrandHeader React component -->
    {# <div id="headerContainer">{% include "static-header.njk" %}</div> #}

    <!-- AsuCookieConsent container TODO Build as include like others? -->
    <div id="cookieConsentContainer" class="cookieConsentContainer"></div>
    <!-- end AsuCookieConsent container -->

    <section id="test-content">

      <div class="row">
        <div class="col-12">
          <h1>Google Tag Manager (GTM) and data layer</h1>
          <p>On this page:</p>
          <ul>
            <li><a href="#gtm">Adding the Google Tag Manager to your site
              or application</a></li>
            <li><a href="#datalayer">Adding the data layer to your site or
              application</a></li>
          </ul>

          <a name="gtm"></a>
          <h2>Google Tag Manager</h2>
          <p>Before implementing Google Tag Manager yourself, please review
            the <a href="/asuheader/">options for obtaining the ASU Header</a>.
            Some options provide the ASU Google Tag Manager code automatically
            bundled.</p>

          <h3>Benefits of Becoming part of GTM Product Community:</h3>
          <ul>
            <li>Receive consultation/assistance with GTM implementation and maintenance</li>
            <li>Receive information on any changes being made to Enterprise UTO GTM and how any changes might affect your site</li>
            <li>Provide feedback for any changes submitted</li>
            <li>Become a member of the larger GTM community as a member of a private slack channel to keep up with all the latest GTM news</li>
            <li>Coming Soon &mdash; Link to Service Now Request to register site – https://asu.service-now.com/xxxxxxx</li>
          </ul>

          <h3>Best Practices for Implementing GTM</h3>
          <p>Install on test site first</p>
          <ul>
            <li>Confirm data is being collected properly through GA</li>
            <li>Confirm any PII data is being redacted by javascript variables in GTM</li>
            <ul>
              <li>PII Data variables accounted for in javascript include:</li>
              <ul>
                <li>E-mail</li>
                <li>Phone number</li>
                <li>First name, last name</li>
                <li>Passwords</li>
                <li>Zip codes</li>
                <li>ASURITE IDs</li>
                </ul>
              <li>Insure NO PII is being exposed on your site!</li>
            </ul>
            <li>Confirm GTM functioning properly in test environment and nothing is breaking</li>
            <li>Reach out to UTO GTM Team if you need assistance</li>
            <li>If all looks well &mdash; deploy to prod!</li>
            <li>Check in prod to insure everything is working correctly</li>
          </ul>

          <p>To implement Google Tag Manager, insert the appropriate snippets
            found below within the body tag of your HTML as close to the top of
            the page as possible. Further details can be found in the
            <a href="https://developers.google.com/tag-manager/quickstart">
              Google Tag Manager Quickstart Guide</a>.
          </p>

          <p>Most ASU sites should implement the ASU Universal GTM.</p>

          <p>Enterprise sites should implement the ASU Enterprise QA GTM on
            their "DEV" environment, and the ASU Enterprise Production GTM
            on their "QA" and "Production" environments. This may be configured
            using environmental variables. Each environment has its own
            GTM ID associated with it and care must be taken to use the
            appropriate GTM ID for each application environment.
          </p>

          <p>Some units have their own GTM IDs. When multiple GTM IDs need to
            be used in a single site or application, follow the guidance on
            <a href="https://developers.google.com/tag-manager/devguide#multiple-containers">
              Multiple Containers on a Page</a>.
          </p>

          <h3>ASU universal GTM code</h3>
          <p>Paste this code as high in the <strong>&lt;head&gt;</strong> tag of the page as possible.</p>
          <pre><code>
            &lt;!-- Google Tag Manager ASU Universal--&gt;
            &lt;script&gt;(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({&apos;gtm.start&apos;:
            new Date().getTime(),event:&apos;gtm.js&apos;});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!=&apos;dataLayer&apos;?&apos;&amp;l=&apos;+l:&apos;&apos;;j.async=true;j.src=
            &apos;//www.googletagmanager.com/gtm.js?id=&apos;+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,&apos;script&apos;,&apos;dataLayer&apos;,&apos;GTM-KDWN8Z&apos;);&lt;/script&gt;
          </code></pre>
          <p>Additionally, paste this code immediately after the opening <strong>&lt;body&gt;</strong> tag.</p>
          <pre><code>
            &lt;!-- Google Tag Manager (noscript) --&gt;
            &lt;noscript&gt;&lt;iframe src=&quot;//www.googletagmanager.com/ns.html?id=GTM-KDWN8Z&quot;
            height=&quot;0&quot; width=&quot;0&quot; style=&quot;display:none;visibility:hidden&quot;&gt;&lt;/iframe&gt;&lt;/noscript&gt;
            &lt;!-- End Google Tag Manager ASU Universal --&gt;
          </code></pre>

          <h3>ET Enterprise Webapp Development GTM</h3>
          <p>Paste this code as high in the <strong>&lt;head&gt;</strong> tag of the page as possible.</p>
          <pre><code>
            &lt;!-- Google Tag Manager --&gt;
            &lt;script&gt;(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PX7M299');&lt;/script&gt;
            &lt;!-- End Google Tag Manager --&gt;
          </code></pre>
          <p>Additionally, paste this code immediately after the opening <strong>&lt;body&gt;</strong> tag.</p>
          <pre><code>
            &lt;!-- Google Tag Manager (noscript) --&gt;
            &lt;noscript&gt;&lt;iframe src=&quot;https://www.googletagmanager.com/ns.html?id=GTM-PX7M299&quot;
            height=&quot;0&quot; width=&quot;0&quot; style=&quot;display:none;visibility:hidden&quot;&gt;&lt;/iframe&gt;&lt;/noscript&gt;
            &lt;!-- End Google Tag Manager (noscript) --&gt;
          </code></pre>

          <h3>ET Enterprise Webapp QA GTM</h3>
          <p>Paste this code as high in the <strong>&lt;head&gt;</strong> tag of the page as possible.</p>
          <pre><code>
            &lt;!-- Google Tag Manager --&gt;
            &lt;script&gt;(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&amp;l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-W3FGR6T');&lt;/script&gt;
            &lt;!-- End Google Tag Manager --&gt;
          </code></pre>
          <p>Additionally, paste this code immediately after the opening <strong>&lt;body&gt;</strong> tag.</p>
          <pre><code>
            &lt;!-- Google Tag Manager (noscript) --&gt;
            &lt;noscript&gt;&lt;iframe src=&quot;https://www.googletagmanager.com/ns.html?id=GTM-W3FGR6T&quot;
            height=&quot;0&quot; width=&quot;0&quot; style=&quot;display:none;visibility:hidden&quot;&gt;&lt;/iframe&gt;&lt;/noscript&gt;
            &lt;!-- End Google Tag Manager (noscript) --&gt;
          </code></pre>

          <h3>ET Enterprise Webapp Production GTM</h3>
          <p>Paste this code as high in the <strong>&lt;head&gt;</strong> tag of the page as possible.</p>
          <pre><code>
            &lt;!-- Google Tag Manager --&gt;
            &lt;script&gt;(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({&apos;gtm.start&apos;:
            new Date().getTime(),event:&apos;gtm.js&apos;});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!=&apos;dataLayer&apos;?&apos;&amp;l=&apos;+l:&apos;&apos;;j.async=true;j.src=
            &apos;https://www.googletagmanager.com/gtm.js?id=&apos;+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,&apos;script&apos;,&apos;dataLayer&apos;,&apos;GTM-WPVTBHL&apos;);&lt;/script&gt;
            &lt;!-- End Google Tag Manager --&gt;
          </code></pre>
          <p>Additionally, paste this code immediately after the opening <strong>&lt;body&gt;</strong> tag.</p>
          <pre><code>
            &lt;!-- Google Tag Manager (noscript) --&gt;
            &lt;noscript&gt;&lt;iframe src=&quot;https://www.googletagmanager.com/ns.html?id=GTM-WPVTBHL&quot;
            height=&quot;0&quot; width=&quot;0&quot; style=&quot;display:none;visibility:hidden&quot;&gt;&lt;/iframe&gt;&lt;/noscript&gt;
            &lt;!-- End Google Tag Manager (noscript) --&gt;
          </code></pre>


          <a name="datalayer"></a>
          <h2>Adding the data layer</h2>

          <p>The data layer is an object used by Google Tag Manager to pass
            information to Google Analytics based on click and change events
            associated with tags in your site or application. If you are using
            the Unity Bootstrap Theme (`unity-bootstrap-theme` package), you
            will get the data layer attributes without additional effort if you
            copy the Unity markup. You must first enable GTM and the data layer,
            as described, below.
          </p>

          <p>Follow the instructions for
            <a href="https://developers.google.com/tag-platform/tag-manager/web/datalayer">
            creating the Data Layer</a> after setting up Google Tag Manager in
            your site or web application.
          </p>

          <p>Ensure your markup includes appropriate `data-ga` and `data-ga-*`
            attributes for your purpose. The Unity Bootstrap Theme
            (`unity-bootstrap-theme`) includes these attributes in its reference
            code. The values of these attributes are used when the data layer
            event is submitted for click or change events on the tag, but to
            enable that to happen, you must first...
          </p>

          <p>Add event listeners to your code to capture click and change
            events related to your `data-ga` attributes and to push that event
            to the data layer. As a help to get you started, the
            `unity-bootstrap-theme` package's `dist/js/data-layer.js` file
            can serve as a starting point or as a reference for implementing
            your own data layer push code.
          </p>

          <p>You should be initilaizing the GA push events and header scroll behavior similar to the following
            code snippet if you implement the Bootstrap header: <br/>
          </p>
            <pre><code>
            &lt;script type="text/javascript" src="example/path/to/@asu/unity-bootstrap-theme/js/data-layer.js"&gt; &lt;/script&gt;
            &lt;script type="text/javascript" src="./@asu/unity-bootstrap-theme/js/global-header.js"&gt; &lt;/script&gt;
            </code></pre>
            <p>Then, the following code should be placed towards the bottom of your html doc or deferred.
              This initializes the data layer and the global header classes
            </p>
            <pre> <code>
            &lt;script&gt;
              window.initDataLayer();
              window.initGlobalHeader();
            &lt;/script&gt;
            </code> </pre>

        </div>
      </div>
    </section>

  </div>
  <footer>
    <div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <footer
          data-elastic-exclude="data-elastic-exclude"
          id="asu-footer"
          role="contentinfo"
        >
          <div
            class="wrapper"
            id="wrapper-footer-innovation"
          >
            <div
              class="container"
              id="footer-innovation"
            >
              <div class="row">
                <div class="col">
                  <div class="d-flex footer-innovation-links">
                    <nav
                      aria-label="University Services"
                      class="nav"
                    >
                      <a
                        class="nav-link"
                        data-ga-footer="maps and locations"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/about/locations-maps"
                      >
                        Maps and Locations
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="jobs"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/asujobs"
                      >
                        Jobs
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="directory"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://isearch.asu.edu/"
                      >
                        Directory
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="contact asu"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/about/contact"
                      >
                        Contact ASU
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="my asu"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://my.asu.edu/"
                      >
                        My ASU
                      </a>
                    </nav>
                    <a
                      class="img-link"
                      data-ga-footer="#1 in the u.s. for innovation"
                      data-ga-footer-section="secondary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/rankings"
                    >
                      <img
                        alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020"
                        src="https://www-dev.asu.edu/asuthemes/5.0/assets/Number-1-in-the-us-for-innovation@2x.png"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="wrapper"
            id="wrapper-footer-colophon"
          >
            <div
              class="container"
              id="footer-colophon"
            >
              <div class="row">
                <div class="col">
                  <nav
                    aria-label="University Legal and Compliance"
                    class="nav colophon"
                  >
                    <a
                      class="nav-link"
                      data-ga-footer="copyright and trademark"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/copyright-trademark"
                    >
                      Copyright and Trademark
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="accessibility"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/accessibility/"
                    >
                      Accessibility
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="privacy"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/privacy"
                    >
                      Privacy
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="terms of use"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/terms-of-use"
                    >
                      Terms of Use
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="emergency"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/emergency/"
                    >
                      Emergency
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="covid-19 information"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://eoss.asu.edu/health/announcements/coronavirus"
                    >
                      COVID-19 Information
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

    <script>

      var props = {
        navTree: [
          {
            href: "/",
            text: "Home",
            type: "icon-home", // Home icon
            class: "test-class", // classes passed to <a> tag
            selected: true  // set to true to  highlight menu item

          }, {
            text: "My ASU",
            href: "https://webapp4.asu.edu/myasu/"
          },
          {
            text: "Two Column Submenu",
            href: "/",
            items: [
              [
                {
                  type: "heading",
                  text: "Column One Heading"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Pellentesque ornare"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Curabitur viverra arcu nisl"
                }
              ],
              [
                {
                  href: "https://www.asu.edu/?feature=newsevents",
                  type: "heading",
                  text: "Column Two Heading"
                }, {
                  href: "https://www.asu.edu/?feature=academics",
                  text: "Nunc in libero odio"
                }
              ]
            ]
          }
        ],
        mobileNavTree: [
          {
            href: "/",
            text: "This",


          }, {
            text: "Is A",
            href: "https://webapp4.asu.edu/myasu/"
          },
          {
            text: "Mobile Nav Tree",
            href: "/",
            items: [
              [
                {
                  type: "heading",
                  text: "Column One Heading"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Pellentesque ornare"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Curabitur viverra arcu nisl"
                }
              ],
              [
                {
                  href: "https://www.asu.edu/?feature=newsevents",
                  type: "heading",
                  text: "Column Two Heading"
                }, {
                  href: "https://www.asu.edu/?feature=academics",
                  text: "Nunc in libero odio"
                }
              ]
            ]
          }
        ],
        title: "Unity Design",
        baseUrl: "/"
      };

      // Initialize cookie consent banner
      AsuCookieConsent.init();
    </script>
  </footer>
  <script>
    window.initDataLayer();
    window.initGlobalHeader();
  </script>
</body>

</html>
