{
  "branches": [
    "master",
    {
      "name": "beta",
      "prerelease": true
    }
  ],
  "ci": false,
  "plugins": [
    [
      "@semantic-release/github",
      {
        "successComment": false,
        "failComment": false
      }
    ]
  ]
}
