@import "~cookieconsent/build/cookieconsent.min.css";

/* ASU Customization */
.cc-window.cc-theme-classic.cc-type-info {
  font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  padding: 1.5em;
  background-color: #5c6670;
  color: #fff;
  width: auto;
  max-width: 100%;
  z-index: 2147483647;
}

.cc-window.cc-theme-classic {
  opacity: 0.92;
}

.cc-floating.cc-theme-classic {
  border-radius: 0;
}

a.cc-link {
  color: #fff;
  border-bottom: none;
}
.cc-theme-classic .cc-link:visited {
  color: #fff;
}

.cc-theme-classic .cc-btn {
  border: none;
  padding: 0.6em 1.2em;
  background-color: #8c1d40;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  width: 100%;
}
.cc-btn:hover {
  background-color: #d23153;
  color: white;
}

body .__acs .acsModalBackdrop {
  z-index: 2147483646;
}

.cc-window.cc-invisible.cc-theme-classic {
  opacity: 0;
}
