@import '../../../../../styles/build/scss/variables';

.heading
{
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    opacity: 1;

    &-one
    {
        font-size: 3rem;
        line-height: 2.5rem;
        letter-spacing: -1.26px;

        @media (min-width: 577px)
        {
            font-size: 64px;
            line-height: 68px;
            letter-spacing: -2.24px;
        }
    }

    &-two
    {
        font-size: 1.875rem;
        line-height: 2.125rem;
        letter-spacing: -1.05px;

        @media (min-width: 577px)
        {
            font-size: 40px;
            line-height: 44px;
            letter-spacing: -1.4px;
        }
    }

    &-three
    {
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: -0.84px;
    }

    &-four
    {
        font-size: 1.25rem;
        line-height: 1.625rem;
        letter-spacing: -0.5px;
    }

    &-five
    {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: -0.24px;
    }
}

.highlight
{
    background-repeat: no-repeat;
    background-origin: padding-box;
    padding: 0.25rem 0.5rem;

    &-white
    {
        background-color: $color-brand-white;
        color: $color-brand-gray-0;
    }

    &-gold
    {
        background-color: $color-brand-gold;
        color: $color-brand-gray-0;
    }

    &-black
    {
        background-color: $color-brand-gray-0;
        color: $color-brand-white;
    }

    &-heading-one
    {
        line-height: 2.75rem;
        @media (min-width: 577px)
        {

            padding: 4px 12px;
            line-height: 72px;
        }
    }

    &-heading-two
    {
        line-height: 2.375rem;
    }
}
