.heading {
  font-family: Arial;
  font-weight: bold;
  text-align: left;
  opacity: 1;
}
.heading-one {
  font-size: 3rem;
  line-height: 2.5rem;
  letter-spacing: -1.26px;
}
@media (min-width: 577px) {
  .heading-one {
    font-size: 64px;
    line-height: 68px;
    letter-spacing: -2.24px;
  }
}
.heading-two {
  font-size: 1.875rem;
  line-height: 2.125rem;
  letter-spacing: -1.05px;
}
@media (min-width: 577px) {
  .heading-two {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -1.4px;
  }
}
.heading-three {
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.84px;
}
.heading-four {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.5px;
}
.heading-five {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.24px;
}

.highlight {
  background-repeat: no-repeat;
  background-origin: padding-box;
  padding: 0.25rem 0.5rem;
}
.highlight-white {
  background-color: #ffffff;
  color: #191919;
}
.highlight-gold {
  background-color: #ffc627;
  color: #191919;
}
.highlight-black {
  background-color: #191919;
  color: #ffffff;
}
.highlight-heading-one {
  line-height: 2.75rem;
}
@media (min-width: 577px) {
  .highlight-heading-one {
    padding: 4px 12px;
    line-height: 72px;
  }
}
.highlight-heading-two {
  line-height: 2.375rem;
}