.heading {
  font-family: Arial, sans-serif;
  font-weight: 700;
  text-align: left;
  opacity: 1;
}
.heading-one {
  font-size: 4rem;
  line-height: 4.25rem;
  letter-spacing: -2.24px;
}
@media (min-width: 577px) {
  .heading-one {
    font-size: 3rem;
    line-height: 2.5rem;
    letter-spacing: -1.26px;
  }
}
.heading-two {
  font-size: 2.5rem;
  line-height: 2.75rem;
  letter-spacing: -1.4px;
}
@media (min-width: 577px) {
  .heading-two {
    font-size: 1.875rem;
    line-height: 2.125rem;
    letter-spacing: -1.05px;
  }
}
.heading-three {
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.84px;
}
.heading-four {
  font-size: 1.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.5px;
}
.heading-five {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.24px;
}

.highlight {
  padding: 0.25rem 0.5rem;
}
.highlight-white {
  background-color: #ffffff;
  color: #191919;
}
.highlight-gold {
  background-color: #ffc627;
  color: #191919;
}
.highlight-black {
  background-color: #191919;
  color: #ffffff;
}
.highlight-heading-one {
  line-height: 4.5rem;
}
@media (min-width: 577px) {
  .highlight-heading-one {
    padding: 0.25rem 0.75rem;
    line-height: 2.75rem;
  }
}
.highlight-heading-two {
  line-height: 2.375rem;
}