@import '../../../../../styles/build/scss/variables';

.heading
{
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    text-align: $heading-text-align;
    opacity: $heading-opacity;

    &-one
    {
        font-size: $heading-one-font-size;
        line-height: $heading-one-line-height;
        letter-spacing: $heading-one-letter-spacing;

        @media (min-width: 577px)
        {
            font-size: $heading-one-mobile-font-size;
            line-height: $heading-one-mobile-line-height;
            letter-spacing: $heading-one-mobile-letter-spacing;
        }
    }

    &-two
    {
        font-size: $heading-two-font-size;
        line-height: $heading-two-line-height;
        letter-spacing: $heading-two-letter-spacing;

        @media (min-width: 577px)
        {
            font-size: $heading-two-mobile-font-size;
            line-height: $heading-two-mobile-line-height;
            letter-spacing: $heading-two-mobile-letter-spacing;
        }
    }

    &-three
    {
        font-size: $heading-three-font-size;
        line-height: $heading-three-line-height;
        letter-spacing: $heading-three-letter-spacing;
    }

    &-four
    {
        font-size: $heading-four-font-size;
        line-height: $heading-four-line-height;
        letter-spacing: $heading-four-letter-spacing;
    }

    &-five
    {
        font-size: $heading-five-font-size;
        line-height: $heading-five-line-height;
        letter-spacing: $heading-five-letter-spacing;
    }
}

.highlight
{
    padding: $heading-highlight-padding;

    &-white
    {
        background-color: $heading-highlight-white-bg-color;
        color: $heading-highlight-white-text-color;
    }

    &-gold
    {
        background-color: $heading-highlight-gold-bg-color;
        color: $heading-highlight-gold-text-color;
    }

    &-black
    {
        background-color: $heading-highlight-black-bg-color;
        color: $heading-highlight-black-text-color;
    }

    &-heading-one
    {
        line-height: $heading-one-highlight-line-height;
        @media (min-width: 577px)
        {

            padding: $heading-one-highlight-padding;
            line-height: $heading-one-mobile-highlight-line-height;
        }
    }

    &-heading-two
    {
        line-height: $heading-two-highlight-line-height;
    }
}
