.news-container h2 {
  font-size: 48px;
}

.event-container h2 {
  font-size: 40px;
}

.news-container img,
.event-container img {
  width: 100%;
  max-width: fit-content;
}

h4 {
  margin-top: 0;
}

.wrapper-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10%;
}

.event-container.wrapper-container {
  max-width: 1500px;
}

.news-container {
  margin-top: -128px;
  background: #fff;
}

ol.breadcrumb {
  padding: 0;
  margin: 0;
}

ol.breadcrumb > li {
  margin-bottom: 0;
}

.article-social-media {
  margin-bottom: 20px;
}

.react-share__ShareButton {
  margin-right: 12px;
}

.highlight-gold {
  box-shadow: -0.15em 0 0 #ffc627, 0.15em 0 0 #ffc627;
  background: #ffc627;
}

.author {
  display: inline-block;
  margin-top: 30px;
  margin-left: -7px;
  padding: 0 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.icon-bg {
  display: inline-block;
  position: relative;
  height: 14px;
  padding: 2px;
  background-color: maroon;
  vertical-align: middle;
  margin-right: 4px;
  border-radius: 4px;
}

.icon-bg svg {
  vertical-align: top;
}

.uds-button {
  margin-top: 17px;
  padding: 0;
}

.author-title {
  max-width: 250px;
  margin-top: 10px;
  margin-bottom: 11px;
  font-size: 16px;
}

.author-contact {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
}

ol.breadcrumb a {
  text-decoration: none;
}

svg.fa-calendar,
svg.fa-map-marker-alt {
  float: left;
  margin-right: 4px;
}

.event-info {
  border-top: 1px solid black;
}

.event-author {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

.event-author-title {
  margin-top: 4px;
}

.event-author-email {
  margin-top: 24px;
}

.event-info .react-share__ShareButton {
  margin-right: 24px;
}

.event-author-email > a,
.author-contact > a {
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  background: none;
  border: none;
  text-decoration: underline;
}

.event-author-email > a:hover,
.author-contact > a:hover {
  text-decoration: underline;
  transform: none;
}
