<!-- FONTAWESOME loaded from CDN 'kit' URL -->
<script src="https://kit.fontawesome.com/35fb12a3a9.js" crossorigin="anonymous"></script>

<!-- include ASU Bootstrap 4 global styles-->
<link href="/asu-web-standards-bootstrap4/dist/css/bootstrap-asu.min.css" rel="stylesheet" type="text/css"
media="all">


<!-- include bundled CSS from React packages-->
<!--<link href="/asu-brand/dist/asu-brand.production.css" rel="stylesheet" type="text/css" media="all">

<link href="/asu-maps/dist/asu-maps.production.css" rel="stylesheet" type="text/css" media="all">

<link href="/asu-hero-carousel/dist/asu-hero-carousel.production.css" rel="stylesheet" type="text/css" media="all"> -->
