<!doctype html>
<html lang="en">

<head>
  <title>ASU Unity Components</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fontawesome fron CDN -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    type="text/css" media="all">

  <!-- jQuery, Bootstrap JS, PopperJS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <!-- include global bootstrap styles and JS-->
  <link href="/asu-web-standards-bootstrap4/dist/css/bootstrap-asu.min.css" rel="stylesheet" type="text/css"
    media="all">
  <script src="/asu-web-standards-bootstrap4/dist/js/bootstrap-asu.min.js"></script>
</head>

<body>
  <div class="container">
    <!-- Include pre-rendered AsuBrandHeader React component -->
    <div id="headerContainer">{% include "asu-brand/dist/templates/header.html" %}</div>

    <h1 class="display-1">Unity Kitchen Sink Page</h1>

    <!-- Bootstrap 4 HTML Components -->
    <section id="bootstrap-components">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-3">ASU Unity Bootstrap 4 Components</h2>
          <p class="lead">This section contains HTML elements styled and controlled by Bootstrap CSS and JS.</p>
        </div>
      </div>
      {% include "asu-web-standards-bootstrap4.html" %}
    </section>

    <!-- React Components-->
    <section id="react-components">
      <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h2 class="display-3">ASU Unity React Components</h2>
          <p class="lead">This section contains components rendered by ReactJS.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="display-4">ASU GIS Feature Picker</h3>
          <div id="gisFPContainer"></div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <h3 class="display-4">ASU Hero Image Carousel</h3>
          <div id="heroContainer"></div>
        </div>
      </div>
    </section>
  </div>
  <footer>
    {% include "react-init.html" %}
  </footer>
</body>

</html>
