<div>
  <div class="header-logo"><img class="logo-full" src="https://i.imgur.com/5WtkgkV.png"
          alt="Arizona State University Logo"/><img class="logo-mobile"
          src="https://www.asu.edu/asuthemes/4.10/assets/arizona-state-university-logo.png"/></div>
  <a
        href="#asu-header-nav" class="asu-icon-hamburger">
    <span class="fa fa-bars">
      <span
            class="sr-only">Menu</span></span></a>
  <div class="header-title">
    <span>Ira A. Fulton Schools of Engineering</span><br/>
    <h1>School of Computing, Informatics, and Decisions Systems Engineering</h1>
  </div>
</div>
<nav id="asu-header-nav" class="header-nav">
  <ul aria-label="ASU">
    <li>
      <a href="/" title="Home" tabIndex="0">
        <span class="fa fa-home icon-nav-item">
          <span
                class="sr-only">Home</span></span>
        <div class="mobile-only">Home</div>
      </a>
    </li>
    <li>
      <a title="Degree programs" role="navigation" tabIndex="0">Degree programs <span
              class="fa fa-chevron-down">
          <span class="sr-only">Degree programs</span></span></a>
      <div class="dropdown">
        <ul>
          <h3>Column 1</h3>
          <li>
            <a href="https://www.asu.edu/?feature=academics" title="Academics" target="_top"
                  tabIndex="0">Academics</a>
          </li>
          <li>
            <a href="https://www.asu.edu/?feature=research" title="Research" target="_top"
                  tabIndex="0">Research</a>
          </li>
          <li>
            <a href="https://www.asu.edu/?feature=academics" title="Academics" target="_top"
                  tabIndex="0">Academics</a>
          </li>
          <li>
            <a href="https://www.asu.edu/?feature=athletics" title="Athletics" target="_top" tabIndex="0">
              <button
                    class="button btn btn-medium">CTA Action 2</button>
            </a>
          </li>
        </ul>
        <ul>
          <h3>Column 2</h3>
          <li>
            <a href="https://www.asu.edu/" title="Academics" target="_top" tabIndex="0">Academics</a>
          </li>
          <li>
            <a href="https://www.asu.edu/" title="Research" target="_top" tabIndex="0">Research</a>
          </li>
          <li>
            <a href="https://www.asu.edu/?feature=athletics" title="Athletics" target="_top"
                  tabIndex="0">Athletics</a>
          </li>
          <li>
            <a href="https://www.asu.edu/?feature=alumni" title="Alumni" target="_top" tabIndex="0">Alumni</a>
          </li>
          <li>
            <a href="https://www.asu.edu/?feature=giving" title="Giving" target="_top" tabIndex="0">Giving</a>
          </li>
          <li>
            <a href="https://www.asu.edu/?feature=president" title="President" target="_top"
                  tabIndex="0">President</a>
          </li>
          <li>
            <a href="https://www.asu.edu/about" title="About ASU" target="_top" tabIndex="0">About ASU</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#" title="Students" target="_top" tabIndex="0">My ASU</a>
    </li>
    <li>
      <a target="_top" title="People" role="navigation" tabIndex="0">People <span class="fa fa-chevron-down">
          <span
                class="sr-only">People</span></span></a>
      <div class="dropdown">
        <ul>
          <li>
            <a href="https://www.asu.edu/map/" title="Map" target="_top" tabIndex="0">Map</a>
          </li>
          <li>
            <a href="https://campus.asu.edu/tempe/" title="Tempe campus" target="_top" tabIndex="0">Tempe</a>
          </li>
          <li>
            <a href="https://campus.asu.edu/west/" title="West campus" target="_top" tabIndex="0">West</a>
          </li>
          <li>
            <a href="https://campus.asu.edu/polytechnic/" title="Polytechnic campus" target="_top"
                  tabIndex="0">Polytechnic</a>
          </li>
          <li>
            <a href="https://campus.asu.edu/downtown/" title="Downtown Phoenix campus" tabIndex="0">
              <button
                    class="button btn btn-medium">Downtown Phoenix</button>
            </a>
          </li>
        </ul>
        <ul>
          <h3>Column 2</h3>
          <li>
            <a href="https://havasu.asu.edu/" title="Lake Havasu" target="_top" tabIndex="0">Lake Havasu</a>
          </li>
          <li>
            <a href="https://www.thunderbird.edu/about-thunderbird/locations/phoenix-arizona" title="Thunderbird"
                  target="_top" tabIndex="0">Thunderbird</a>
          </li>
          <li>
            <a href="https://skysong.asu.edu/" title="Skysong" target="_top" tabIndex="0">Skysong</a>
          </li>
          <li>
            <a href="https://asuresearchpark.com/" title="Research Park" target="_top" tabIndex="0">Research
                  Park</a>
          </li>
          <li>
            <a href="https://washingtoncenter.asu.edu/" title="Washington D.C." target="_top"
                  tabIndex="0">Washington D.C.</a>
          </li>
          <li>
            <a href="https://wpcarey.asu.edu/mba/china-program/english/" title="China" target="_top"
                  tabIndex="0">China</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#" title="Research" target="_top" tabIndex="0">Research</a>
    </li>
    <li>
      <a href="https://admissions.asu.edu" title="Apply Now" target="_top" tabIndex="0">
        <button
              class="btn-gold btn btn-medium">Apply Now</button>
      </a>
    </li>
    <li>
      <a href="https://asu.edu" title="CTA Button" target="_top" tabIndex="0">
        <button
              class="btn-maroon btn btn-medium">CTA Button</button>
      </a>
    </li>
  </ul>
</nav>
