<a href="https://asu.edu" class="navbar-brand"><img class="vert" src="https://i.imgur.com/5WtkgkV.png"
          alt="Arizona State University Logo"/><img class="horiz"
          src="https://www.asu.edu/asuthemes/4.10/assets/arizona-state-university-logo.png"/></a>

<button class="navbar-toggler">
  <span class="fa fa-bars"></span>
</button>
<div class="navbar-container">
  <div class="title subdomain-name">Ira A. Fulton Schools of Engineering</div>

  <nav id="asu-header-nav" class="header-nav">
    <ul aria-label="ASU">
      <li>
        <a href="/">
          <span class="fa fa-home"></span>
          <span class="mobile-only">Home</span>
        </a>
      </li>
      <li>
        <a title="Degree programs" role="navigation" tabIndex="0">Degree programs <span class="fa fa-chevron-down"></span>
        </a>
        <div class="dropdown">
          <ul>
            <h3 >Column 1</h3>
            <li>
              <a href="https://www.asu.edu/?feature=academics">Academics</a>
            </li>
            <li>
              <a href="https://www.asu.edu/?feature=research">Research</a>
            </li>
            <li>
              <a href="https://www.asu.edu/?feature=academics">Academics</a>
            </li>
            <li>
              <a href="https://www.asu.edu/?feature=athletics">

                <button class="btn btn-maroon">CTA Action 2</button>
              </a>
            </li>
          </ul>
          <ul>
            <h3>Column 2</h3>
            <li>
              <a href="https://www.asu.edu/">Academics</a>
            </li>
            <li>
              <a href="https://www.asu.edu/">Research</a>
            </li>
            <li>
              <a href="https://www.asu.edu/?feature=athletics">Athletics</a>
            </li>
            <li>
              <a href="https://www.asu.edu/?feature=alumni">Alumni</a>
            </li>
            <li>
              <a href="https://www.asu.edu/?feature=giving">Giving</a>
            </li>
            <li>
              <a href="https://www.asu.edu/?feature=president">President</a>
            </li>
            <li>
              <a href="https://www.asu.edu/about">About ASU</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">My ASU</a>
      </li>
      <li>
        <a title="People" role="navigation" tabIndex="0">People <span class="fa fa-chevron-down"></span>
        </a>
        <div class="dropdown">
          <ul>
            <li>
              <a href="https://www.asu.edu/map/">Map</a>
            </li>
            <li>
              <a href="https://campus.asu.edu/tempe/">Tempe</a>
            </li>
            <li>
              <a href="https://campus.asu.edu/west/">West</a>
            </li>
            <li>
              <a href="https://campus.asu.edu/polytechnic/">Polytechnic</a>
            </li>
            <li>
              <a href="https://campus.asu.edu/downtown/">

                <button class="btn btn-gray">Downtown Phoenix</button>
              </a>
            </li>
          </ul>
          <ul>
            <h3>Column 2</h3>
            <li>
              <a href="https://havasu.asu.edu/">Lake Havasu</a>
            </li>
            <li>
              <a href="https://www.thunderbird.edu/about-thunderbird/locations/phoenix-arizona">Thunderbird</a>
            </li>
            <li>
              <a href="https://skysong.asu.edu/">Skysong</a>
            </li>
            <li>
              <a href="https://asuresearchpark.com/">Research Park</a>
            </li>
            <li>
              <a href="https://washingtoncenter.asu.edu/">Washington D.C.</a>
            </li>
            <li>
              <a href="https://wpcarey.asu.edu/mba/china-program/english/">China</a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="#">Research</a>
      </li>
    </ul>
    <form class="navbar-site-buttons">
      <a class="btn btn-gold btn-medium" href="https://admissions.asu.edu">Apply Now</a>
      <a class="btn btn-maroon btn-medium" href="https://asu.edu">CTA Button</a>
    </form>
  </nav>

</div>
