

<!-- include Preact from CDN-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/preact/10.4.0/preact.umd.js"></script>

<!-- include bundled scripts -->
<script src="/asu-brand/dist/asu-brand.production.js"></script>
<link href="/asu-brand/dist/asu-brand.production.css" rel="stylesheet" type="text/css" media="all">

<script>

// Hydrate and render components with Preact
document.addEventListener("DOMContentLoaded", function () {

  var h = preact.h;

  const hContain = document.getElementById("headerContainer");

  // Hydrate the header
  preact.hydrate(h('AsuBrandHeader'), hContain, hContain.firstElementChild);

  const map = document.getElementById("gisFPContainer");

  // Render the maps GIS FeaturePicker on the client side
  preact.render(AsuGisFeaturePicker, map, map.firstElementChild);

});
</script>
