<!-- jQuery, Bootstrap JS, PopperJS
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
crossorigin="anonymous"></script>


<script src="/asu-web-standards-bootstrap4/dist/js/bootstrap-asu.min.js"></script>

<!-- Include React from CDN
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<!-- Preact from CDN
<script crossorigin src="https://unpkg.com/preact@10.4.4/dist/preact.umd.js"></script>-->

<!-- include bundled scripts from Preact packages (CSS is in the <head>) -->
<script src="/components-library/dist/vendor.production.js"></script>
<script src="/components-library/dist/core.production.js"></script>
<script src="/component-forms/dist/vendor.production.js"></script>
<script src="/component-forms/dist/forms.production.js"></script>
<!--<script src="/asu-maps/dist/asu-maps.production.js"></script>-->

<script>

  // Hydrate and render components with React
  document.addEventListener("DOMContentLoaded", function () {

    var NavTree = [
      {
        href: '/',
        text: 'Home',
        type: 'icon',
        class: 'home'
      }, {
        text: "Degree programs",
        href: "/",
        items: [
          [
            {
              href: "https://www.asu.edu/?feature=newsevents",
              type: "heading",
              text: "Column 1"
            }, {
              href: "https://www.asu.edu/?feature=academics",
              target: "_top",
              text: "Academics"
            }, {
              href: "https://www.asu.edu/?feature=research",
              target: "_top",
              text: "Research"
            }, {
              href: "https://www.asu.edu/?feature=academics",
              target: "_top",
              text: "Academics"
            }, {
              href: "https://www.asu.edu/?feature=athletics",
              target: "_top",
              type: "button",
              color: "maroon",
              text: "CTA Action 2"
            }
          ],
          [
            {
              type: "heading",
              text: "Column 2"
            }, {
              href: "https://www.asu.edu/",
              target: "_top",
              text: "Academics"
            }, {
              href: "https://www.asu.edu/",
              target: "_top",
              text: "Research"
            }, {
              href: "https://www.asu.edu/?feature=athletics",
              target: "_top",
              text: "Athletics"
            }, {
              href: "https://www.asu.edu/?feature=alumni",
              target: "_top",
              text: "Alumni"
            }, {
              href: "https://www.asu.edu/?feature=giving",
              target: "_top",
              text: "Giving"
            }, {
              href: "https://www.asu.edu/?feature=president",
              target: "_top",
              text: "President"
            }, {
              href: "https://www.asu.edu/about",
              target: "_top",
              text: "About ASU"
            }
          ]
        ]
      }, {
        text: "My ASU",
        href: "#",
        target: "_top"
      }, {
        text: "People",
        href: "#",
        target: "_top",
        items: [
          [
            {
              classes: "border first",
              href: "https://www.asu.edu/map/",
              target: "_top",
              text: "Map"
            }, {
              href: "https://campus.asu.edu/tempe/",
              target: "_top",
              text: "Tempe"
            }, {
              href: "https://campus.asu.edu/west/",
              target: "_top",
              text: "West"
            }, {
              href: "https://campus.asu.edu/polytechnic/",
              target: "_top",
              text: "Polytechnic"
            }, {
              href: "https://campus.asu.edu/downtown/",
              type: "button",
              color: "maroon",
              text: "Downtown Phoenix"
            }
          ],
          [
            {
              href: "https://asuonline.asu.edu/",
              type: "heading",
              text: "Column 2"
            }, {
              href: "https://havasu.asu.edu/",
              target: "_top",
              text: "Lake Havasu"
            }, {
              href: "https://www.thunderbird.edu/about-thunderbird/locations/phoenix-arizona",
              target: "_top",
              classes: "border",
              text: "Thunderbird"
            }, {
              href: "https://skysong.asu.edu/",
              target: "_top",
              text: "Skysong"
            }, {
              href: "https://asuresearchpark.com/",
              target: "_top",
              text: "Research Park"
            }, {
              href: "https://washingtoncenter.asu.edu/",
              target: "_top",
              text: "Washington D.C."
            }, {
              href: "https://wpcarey.asu.edu/mba/china-program/english/",
              target: "_top",
              text: "China"
            }
          ]
        ]
      }, {
        text: "Research",
        href: "#",
        target: "_top"
      }
    ];

    var buttons = [
      {
        text: "Apply Now",
        type: "button",
        color: "gold",
        href: "https://admissions.asu.edu",
        target: "_top"
      }, {
        text: "CTA Button",
        type: "button",
        color: "maroon",
        href: "https://asu.edu",
        target: "_top"
      }
    ];

    var props = {
      navTree: NavTree,
      buttons: buttons,
      title: "Ira A. Fulton Schools of Engineering"
    };

    AsuWebcore.initHeader(props);

    /*
    AsuWebforms.RenderPreact(AsuWebforms.FormPanel, {
    }, document.getElementById("formContainer"));*/
  });
</script>
