@import '../../styles/ASU.css';
@import '../../styles/colors.css';
@import '../../styles/variables.css';

/**  CSS Modules -- ASUHeader.css ****/
.asuBrandHeader {
    width: 100%;
}

.asuBrandHeader {
    position:relative;
    background-color:#fff;
    overflow:visible;
    margin:0;
    font-size:.8rem;
    font-family: var(--asu-fonts);
    line-height:1em;
    color:#000;
    z-index:500;
    -webkit-box-sizing:initial;
    -moz-box-sizing:initial;
    box-sizing:initial;
    height: auto;
    width: 100%;
}

.asuBrandHeader img {
    border:0;
    width: 100%;
}

.asuHeaderGrid {
  display: flex;
  flex-flow: row wrap;
  & > * {
    flex: 1 100%;
  }
}

.asuHeaderTopRow {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.asuBrandHeaderLogin {
    justify-self: end;
}

.asuHeaderNav {
    justify-self:end;
}

.asuHeaderSiteName {
    grid-area: sitename;
}

.asuHeaderGlobalSearch {
    grid-area: searchbox;
    justify-self: end;
}

.asuHeaderMobileControls {
    grid-area: mobile;
    display: none;
    justify-self: end;
}

/***
Mobile ASUHeader
**/

@media (--mobile) {

    .asuHeaderMobileControls {
        /*grid-area: mobile;*/
        display: block;
    }

    .asuHeaderGrid {
        display: grid;
        grid-template-rows: [top] auto [two] auto [three] auto [four] auto [bottom] auto;
        grid-template-columns: [left] 50% [right] 50%;
        grid-template-areas:
                "searchbox searchbox"
                "logo mobile"
                "sitename sitename"
                "login login"
                "nav nav";
    }

    .asuHeaderNav {
        justify-self: start;
    }

    /** Header menu open/close CSS **/
    .asuHeaderGlobalSearch, .asuHeaderNav, .asuBrandHeaderLogin {
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
    }

    .asuHeaderGlobalSearch {
        max-height: 0;
        transition: max-height 0.5s ease-in-out;
        overflow: hidden;
    }

    .icoNavIcon, .icoSearch {
          float: right;
          margin: 0;
          padding: 21px 5px;
          text-align: center;
          color: #999;
          cursor: pointer;
          float: right;
          font-size: 22px;
          width: 35px;
          text-align: center;
    }

    .openedSearch {

        & .asuHeaderGlobalSearch {
            max-height: 2000px;

        }

        & .icoSearch {
              background-color: #E7E7E7;
        }
    }

    .openedNav {

        &  .asuHeaderNav, &  .asuBrandHeaderLogin, & .asuHeaderSiteName {
            max-height: 2000px;
        }
    }
}


/***
Logo
 */
 .asuLogo {
  margin-right: auto;
  width:200px;
}
