.ASUHeader
{
    font-family: Arial;
    font-weight: bold;
    text-align: left;
    opacity: 1;
}

.highlight
{
    background-repeat: no-repeat;
    background-origin: padding-box;
    padding: 4px 8px;
}

.highlightWhite
{
    background-color: #ffffff;
    color: #191919;
}

.highlightGold
{
    background-color: #ffc627;
    color: #191919;
}

.highlightBlack
{
    background-color: #191919;
    color: #fff;
}

.HeaderOne
{
    font-size: 48px;
    line-height: 40px;
    letter-spacing: -1.26px;
}

.highlightHeaderOne
{
    line-height: 44px;
}

.HeaderTwo
{
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -1.05px;
}

.highlightHeaderTwo
{
    line-height: 38px;
}

.HeaderThree
{
    font: Bold 24px/28px Arial;
    letter-spacing: -0.84px;
}

.HeaderFour
{
    font: Bold 20px/26px Arial;
    letter-spacing: -0.5px;
}

.HeaderFive
{
    font: Bold 16px/24px Arial;
    letter-spacing: -0.24px;
}

@media (min-width: 577px) {
    .HeaderOne
    {
        font-size: 64px;
        line-height: 68px;
        letter-spacing: -2.24px;
    }

    .highlightHeaderOne
    {
        padding: 4px 12px;
        line-height: 72px;
    }

    .HeaderTwo
    {
        font-size: 40px;
        line-height: 44px;
        letter-spacing: -1.4px;
    }
}
