.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.uds-anchor-menu button.mobile-menu-toggler {
  background-color: transparent;
  border: none;
  cursor: default;
}

.uds-anchor-menu button.mobile-menu-toggler svg {
  transition: all 0.3s;
}

.uds-anchor-menu button.show-menu svg {
  transform: rotate(-180deg);
}

.uds-anchor-menu .nav-link {
  border: none;
  background-color: #ffffff;
  margin-right: 0.3rem;
}
