.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.uds-anchor-menu button.mobile-menu-toggler {
  background-color: transparent;
  border: none;
  cursor: default;
}

.uds-anchor-menu .nav-link {
  border: none;
  background-color: #ffffff;
  margin-right: 0.3rem;
}

@media (max-width: 1230px) {
  .uds-anchor-menu .nav-link:not(:last-child) {
    border-bottom: 1px solid #d0d0d0;
  }
}
