@import '../../styles/colors.css';
@import '../../styles/variables.css';

/** Basic Icons **/
@font-face {
    font-family: 'icomoon';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggjB5QAAAC8AAAAYGNtYXDRf9GTAAABHAAAAHRnYXNwAAAAEAAAAZAAAAAIZ2x5Zv4FecwAAAGYAAAEvGhlYWQBrmaDAAAGVAAAADZoaGVhA70B7AAABowAAAAkaG10eAwoAB8AAAawAAAALGxvY2EE8AYWAAAG3AAAABhtYXhwAA8AcgAABvQAAAAgbmFtZVcZpu4AAAcUAAABRXBvc3QAAwAAAAAIXAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADw3gHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAGAAAAAUABAAAwAEAAEAIPAC8AfwDfBF8Mnw3v/9//8AAAAAACDwAvAH8A3wRfDJ8N3//f//AAH/4xACD/4P+Q/CDz8PLAADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAIAAP/bAdsBtwAmADcAADc0NzY3Njc2MzIXFhcWFxYVFAcXFhUUBwYjIi8BBiMiJyYnJicmNTMUFxYzMjc2NTQnJiMiBwYVABAQGxslJSkpJSYbGw8QI2IKCgsPEApiMz8pJSUbGxAQSSYlNTUmJSUmNTUlJu4pJSUbGxAQEBAbGyUlKT8zYgsPDwsLC2IjDxAbGyYlKTUmJSUmNTUlJiYlNQAAAgAAAAABkgG3ADUARgAANzQ3Njc2NzY3Njc2NzYzMhcWFxYXFjMyNzY3Njc2MzIXFhcWFxYXFhcWFxYVFAcGKwEiJyY1NzQ3NjMyFxYVFAcGIyInJjUAAQEDAwUECAgKCg4OEgIKCQwMExMTExMTDAwJCgISDg8KCgcIBQQDAwEBFRQj+iIVFVshIC0uICAgIC4tICFKDw8OERAPDg4NCgkGBgYHBwgGBgYGCAcHBgYGCQoNDg4PEBEODw8iFBQUFCL/LiAgICAuLSAhISAtAAEAHwAfAXMBcwAsAAA3ND8BJyY1ND8BNjMyHwE3NjMyHwEWFRQPARcWFRQPAQYjIi8BBwYjIi8BJjUfCFRUCAgnCAwLCFRUCAwLCCcICFRUCAgnCAsMCFRUCAsMCCcIYgsIVFQIDAsIJwgIVFQICCcICwwIVFQICwwIJwgIVFQICCcIDAAAAAACAAAAJQHbAdsAMgBvAAA3NTQ3NjsBMhcWFRQHBgcGKwEiBwYdARQXFjsBMjc2PQE0NzY3NhcWHQEUBwYrASInJjU3NDc2NzY3Njc2NzY3Njc2NzY7ATU0NzYzMh8BFhUUDwEGIyInJj0BIyIHBhcWByIjIicmJyYnJicmJyY1ABgYIkkEAwIHFhADAiATDQ0NDRPuEw0OBQgHBQUGGBgi7iIYGEkBAQMDBQUJCAsLEBAUExoaHi4LBAMIBW4FBW4FCAMECy5cISINAQcCAQUCAwMECAgGBgUFd+4iGBgDAwMIAQgKAQ0OEu4TDQ4ODRM9BQMEBwQCAgZKIhgYGBgidw4MDA0ODAsMDAkJCQgFBgMDNwwFAQVuBQgHBW4GAgUMNyYnYAcDAwQFBQ8PDQ4TExAAAAMAAAAlAbcBkgAUACkAPgAANzU0NzY3BTYXFh0BFAcGJwUmJyY1PQE0NzYXJRYXFh0BFAcGByUGJyY1PQE0NzY3BTYXFh0BFAcGJwUmJyY1AAUGBwGTBwUGBgUH/m0HBgUFBgcBkwcFBgYFB/5tBwYFBQYHAZMHBQYGBQf+bQcGBTclBwYFAQEBBwQJIwkEBgEBAQQGB5MkCAUGAQEBBAcGJgYHBAEBAQYFCJEmBgcEAQEBBgUIJAgEBwEBAQUGBgAAAAABAAAAEgElALcAEwAANzQ3NjMhMhcWFRQPAQYjIi8BJjUABQYHAQAIBQYGgAUIBwaABaUHBQYGBQcIBYAGBoAFCAAAAAEAAAEAASUBpQATAAATND8BNhc2HwEWFRQHBicFJicmNQAFgAYHCAWABgYFCP8ABwYFARIHBn8HAQEHfwYHCAUGAQEBBAcGAAEAAAABAACzhyoSXw889QALAgAAAAAA0FoS6AAAAADQWhLoAAD/2wHbAdsAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAdsAAQAAAAAAAAAAAAAAAAAAAAsAAAAAAAAAAAAAAAABAAAAAdwAAAGTAAABkwAfAdwAAAIAAAABJQAAASUAAAAAAAAACgAUAB4AcADYARwBtgIYAjoCXgABAAAACwBwAAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('truetype'),
         url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAjIAAsAAAAACHwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgCCMHlGNtYXAAAAFoAAAAdAAAAHTRf9GTZ2FzcAAAAdwAAAAIAAAACAAAABBnbHlmAAAB5AAABLwAAAS8/gV5zGhlYWQAAAagAAAANgAAADYBrmaDaGhlYQAABtgAAAAkAAAAJAO9AexobXR4AAAG/AAAACwAAAAsDCgAH2xvY2EAAAcoAAAAGAAAABgE8AYWbWF4cAAAB0AAAAAgAAAAIAAPAHJuYW1lAAAHYAAAAUUAAAFFVxmm7nBvc3QAAAioAAAAIAAAACAAAwAAAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA8N4B4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABABgAAAAFAAQAAMABAABACDwAvAH8A3wRfDJ8N7//f//AAAAAAAg8ALwB/AN8EXwyfDd//3//wAB/+MQAg/+D/kPwg8/DywAAwABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAACAAD/2wHbAbcAJgA3AAA3NDc2NzY3NjMyFxYXFhcWFRQHFxYVFAcGIyIvAQYjIicmJyYnJjUzFBcWMzI3NjU0JyYjIgcGFQAQEBsbJSUpKSUmGxsPECNiCgoLDxAKYjM/KSUlGxsQEEkmJTU1JiUlJjU1JSbuKSUlGxsQEBAQGxslJSk/M2ILDw8LCwtiIw8QGxsmJSk1JiUlJjU1JSYmJTUAAAIAAAAAAZIBtwA1AEYAADc0NzY3Njc2NzY3Njc2MzIXFhcWFxYzMjc2NzY3NjMyFxYXFhcWFxYXFhcWFRQHBisBIicmNTc0NzYzMhcWFRQHBiMiJyY1AAEBAwMFBAgICgoODhICCgkMDBMTExMTEwwMCQoCEg4PCgoHCAUEAwMBARUUI/oiFRVbISAtLiAgICAuLSAhSg8PDhEQDw4ODQoJBgYGBwcIBgYGBggHBwYGBgkKDQ4ODxARDg8PIhQUFBQi/y4gICAgLi0gISEgLQABAB8AHwFzAXMALAAANzQ/AScmNTQ/ATYzMh8BNzYzMh8BFhUUDwEXFhUUDwEGIyIvAQcGIyIvASY1HwhUVAgIJwgMCwhUVAgMCwgnCAhUVAgIJwgLDAhUVAgLDAgnCGILCFRUCAwLCCcICFRUCAgnCAsMCFRUCAsMCCcICFRUCAgnCAwAAAAAAgAAACUB2wHbADIAbwAANzU0NzY7ATIXFhUUBwYHBisBIgcGHQEUFxY7ATI3Nj0BNDc2NzYXFh0BFAcGKwEiJyY1NzQ3Njc2NzY3Njc2NzY3Njc2OwE1NDc2MzIfARYVFA8BBiMiJyY9ASMiBwYXFgciIyInJicmJyYnJicmNQAYGCJJBAMCBxYQAwIgEw0NDQ0T7hMNDgUIBwUFBhgYIu4iGBhJAQEDAwUFCQgLCxAQFBMaGh4uCwQDCAVuBQVuBQgDBAsuXCEiDQEHAgEFAgMDBAgIBgYFBXfuIhgYAwMDCAEICgENDhLuEw0ODg0TPQUDBAcEAgIGSiIYGBgYIncODAwNDgwLDAwJCQkIBQYDAzcMBQEFbgUIBwVuBgIFDDcmJ2AHAwMEBQUPDw0OExMQAAADAAAAJQG3AZIAFAApAD4AADc1NDc2NwU2FxYdARQHBicFJicmNT0BNDc2FyUWFxYdARQHBgclBicmNT0BNDc2NwU2FxYdARQHBicFJicmNQAFBgcBkwcFBgYFB/5tBwYFBQYHAZMHBQYGBQf+bQcGBQUGBwGTBwUGBgUH/m0HBgU3JQcGBQEBAQcECSMJBAYBAQEEBgeTJAgFBgEBAQQHBiYGBwQBAQEGBQiRJgYHBAEBAQYFCCQIBAcBAQEFBgYAAAAAAQAAABIBJQC3ABMAADc0NzYzITIXFhUUDwEGIyIvASY1AAUGBwEACAUGBoAFCAcGgAWlBwUGBgUHCAWABgaABQgAAAABAAABAAElAaUAEwAAEzQ/ATYXNh8BFhUUBwYnBSYnJjUABYAGBwgFgAYGBQj/AAcGBQESBwZ/BwEBB38GBwgFBgEBAQQHBgABAAAAAQAAs4cqEl8PPPUACwIAAAAAANBaEugAAAAA0FoS6AAA/9sB2wHbAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAHbAAEAAAAAAAAAAAAAAAAAAAALAAAAAAAAAAAAAAAAAQAAAAHcAAABkwAAAZMAHwHcAAACAAAAASUAAAElAAAAAAAAAAoAFAAeAHAA2AEcAbYCGAI6Al4AAQAAAAsAcAADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKADQAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKADQAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
    font-weight: 400;
    font-style: normal
}

.icoFont {
    font-family: 'icomoon';
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.icoSearch {
    composes: icoFont;

    &:before {
         content: "\f002";
    }
}

.icoNavIcon {
    composes: icoFont;

    &:before {
         content: "\f0c9";
    }
}

.icoUser {
    composes: icoFont;

    &:before {
         content: "\f007";
    }
}

.icoSortUp {
    composes: icoFont;

    &:before {
         content: "\f0de";
    }
}

.icoSortDown {
    composes: icoFont;

    &:before {
         content: "\f0dd";
    }
}

/***
Accessibility
 */
.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.srOnly:focus {
    position: static;
    clip: auto;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
}


/** Transitions **/
.slideDownBase {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

.subSlideIn {
    max-height: 2000px;
    display: block;
    left: 0 !important;
    top: 20px;
    z-index: -1;
}

.subSlideOut {
    max-height: 0
}

/***
asuNav
 **/
.asu_mobile_button,.asu_print_logo {
    display:none
}

.asuNavWrapper {
    margin:0;
    display:block;
    z-index:100;
}

.asuNav {
    position:relative;
    display:inline-block;
    width: inherit;
    margin:0 auto;
    z-index:100
}

.navList {
    margin:0;
    width: 100%;
    list-style:none;
    white-space:nowrap;
    text-align:left;
    background-color: #FFFFFF;
    padding:0;
    display: block
}

.asuNavItem {
    margin:0;
    padding:0;
    list-style:none;
    position:relative;
    text-align: left;
}

.asuNavItemSub {
    composes: asuNavItem;
}

.asuNavItemTop {
    composes: asuNavItem;
    display:inline-block;
}

.asuNav>ul {
    display:inline-block;
    margin:0 auto
}


.asuNavA {
    /*@apply inline-flex text-black px-1 py-1 no-underline;*/
    display:inline-block;
    color:#000;
    text-decoration:none;
    padding:8px 8px 5px;
}

.asuNav>ul>li.parent>a {
    background:url(data:image/gif;base64,R0lGODlhEAAEAPcBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjJBMDBENzI5QjI4MTExRTE5MzE1QTQxMDBGMkFBQTMwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjJBMDBENzJBQjI4MTExRTE5MzE1QTQxMDBGMkFBQTMwIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDdEN0YzMEFCMjgwMTFFMTkzMTVBNDEwMEYyQUFBMzAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6MkEwMEQ3MjhCMjgxMTFFMTkzMTVBNDEwMEYyQUFBMzAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAAEAAEAAAIGQD/CRz4L4DBgwgJFkTI0ODAhhADLIxoMCAAOw==) 100% 55% no-repeat;
    padding-right:23px
}

.asuNav li.parent ul li a.border {
    border-bottom:1px dotted #a6a6a6;
    margin-bottom:12px;
    padding-bottom:12px
}

.asuNav img.asu_touch {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:none;
    z-index:-1
}

.asuNav .icoSortUp, .asuNav .icoSortDown {
    display: none;
}

@media(--not-mobile) {

    .asuNavItem:hover>.subMenu, .asuNav ul a:focus +ul{
        display:block;
        left: 0;
        top:20px;
        z-index:-1
    }

    .asuNav ul ul li:hover>a,.asuNav>ul>li:hover>a {
        color: #d23153;
        text-decoration:underline
    }

    .asuNav>ul>li.parent:hover>a {
        background:url(data:image/gif;base64,R0lGODlhEAAEAPcBAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH/C1hNUCBEYXRhWE1QPD94cGFja2V0IGJlZ2luPSLvu78iIGlkPSJXNU0wTXBDZWhpSHpyZVN6TlRjemtjOWQiPz4gPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyIgeDp4bXB0az0iQWRvYmUgWE1QIENvcmUgNS4wLWMwNjEgNjQuMTQwOTQ5LCAyMDEwLzEyLzA3LTEwOjU3OjAxICAgICAgICAiPiA8cmRmOlJERiB4bWxuczpyZGY9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkvMDIvMjItcmRmLXN5bnRheC1ucyMiPiA8cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0iIiB4bWxuczp4bXA9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC8iIHhtbG5zOnhtcE1NPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvbW0vIiB4bWxuczpzdFJlZj0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL3NUeXBlL1Jlc291cmNlUmVmIyIgeG1wOkNyZWF0b3JUb29sPSJBZG9iZSBQaG90b3Nob3AgQ1M1LjEgTWFjaW50b3NoIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkQ3RDdGMzA4QjI4MDExRTE5MzE1QTQxMDBGMkFBQTMwIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkQ3RDdGMzA5QjI4MDExRTE5MzE1QTQxMDBGMkFBQTMwIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDdEN0YzMDZCMjgwMTFFMTkzMTVBNDEwMEYyQUFBMzAiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDdEN0YzMDdCMjgwMTFFMTkzMTVBNDEwMEYyQUFBMzAiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4B//79/Pv6+fj39vX08/Lx8O/u7ezr6uno5+bl5OPi4eDf3t3c29rZ2NfW1dTT0tHQz87NzMvKycjHxsXEw8LBwL++vby7urm4t7a1tLOysbCvrq2sq6qpqKempaSjoqGgn56dnJuamZiXlpWUk5KRkI+OjYyLiomIh4aFhIOCgYB/fn18e3p5eHd2dXRzcnFwb25tbGtqaWhnZmVkY2JhYF9eXVxbWllYV1ZVVFNSUVBPTk1MS0pJSEdGRURDQkFAPz49PDs6OTg3NjU0MzIxMC8uLSwrKikoJyYlJCMiISAfHh0cGxoZGBcWFRQTEhEQDw4NDAsKCQgHBgUEAwIBAAAh+QQBAAABACwAAAAAEAAEAAAIGQADCPwnsKDBg/8SHlwYIKFDhgUdSoQYICAAOw==) 100% 55% no-repeat;
        -moz-box-shadow:3px 0 3px -3px #999,-3px 0 3px -3px #999;
        -webkit-box-shadow:3px 0 3px -3px #999,-3px 0 3px -3px #999;
        box-shadow:3px 0 3px -3px #999,-3px 0 3px -3px #999;
        zoom:1;
    }

    .asuNav ul:hover+img.asu_touch {
        display: block
    }

    .subMenu {
        position:absolute;
        left:-9999px;
        background-color:#fff;
        padding-top:10px;
        -moz-box-shadow:0 3px 3px 0 #999;
        -webkit-box-shadow:0 3px 3px 0 #999;
        box-shadow:0 3px 3px 0 #999;
        zoom:1;
    }
}

@media (--mobile) {

    .asuNavA {
       /* @apply px-3 py-3;*/

        max-width: 100%;
        width: auto;
        padding: 12px 12px 12px 14px;
    }

    .asuNavWrapper {
        width: 100%;
    }

    .asuNav .icoSortUp, .asuNav .icoSortDown {
        display: inline-block;
        width: 35px;
        height: 15px;
        background: #F4F4F4;
        border-left: solid 1px #DDD;
        text-align: center;
        font-size: 14px;
        color: #B2B2B2;
        padding: 10px;
        position: absolute;
        top: 0;
        right: 0;
    }

    .asuNavItem {
        display: block;
    }

    .subMenu {
        max-height: 0;
        transition: max-height 0.5s ease-out;
        overflow: hidden;
        background: #F4F4F4;

        & a {
            color: #a42b4d;
            font-weight: normal;
        }

        & li {
            border-bottom: solid 1px #ddd;
            font-weight: 100;
            background: #F4F4F4;
            position: relative;
        }
    }

    .subSlideIn {
        max-height: 2000px;
    }

    .subSlideOut {
        max-height: 0
    }

    .asuNavItemTop {
        color: #77797B;
        background: #fff;
        border-bottom: solid 1px #ddd;
        font-weight: 600;
        position: relative;
    }
}
