/*** asuLogin ***/
@import '../../styles/ASU.css';

.asuLogin>div {
    border-left:1px solid #999;
    margin: 8px 0 0 8px;
    padding: 1px 8px 1px;
    color:#000;
    font-weight:700;
    line-height:1em;
    list-style-type:none;
}

.asuLogin li.end {
    text-transform:uppercase;
    padding-right:0
}

.asuLoginLink {
    text-decoration:none;
    line-height:1em;
    color: inherit;
}

.asuLoginLink:hover {
    text-decoration:underline
}

.icoUser {
    display: none;
}

/*****
Mobile
******/
@media only screen and (--mobile) {

    .asuLoginLink {
        display: inline;
        overflow: hidden;
        white-space: nowrap;
    }

    .asuLoginLink:hover {
        text-decoration: none;
    }

    .asuLogin {
        width: 100%;
        color: #77797B;
        background: #fff;
        border-bottom: solid 1px #ddd;
        font-weight: 600;
        position: relative;

        & > div {
            display: inline-block;
            border-left: none;
        }
    }

    .icoUser {
        display: inline-block;
        float: right;
        width: 35px;
        height: auto;
        background: #F4F4F4;
        border-left: solid 1px #DDD;
        text-align: center;
        font-size: 14px;
        color: #B2B2B2;
        padding: 10px;
    }
}
