@import './colors.css';
@import './variables.css';


/** Basic Icons **/
@font-face {
    font-family: 'icomoon';
    src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMggjB5QAAAC8AAAAYGNtYXDRf9GTAAABHAAAAHRnYXNwAAAAEAAAAZAAAAAIZ2x5Zv4FecwAAAGYAAAEvGhlYWQBrmaDAAAGVAAAADZoaGVhA70B7AAABowAAAAkaG10eAwoAB8AAAawAAAALGxvY2EE8AYWAAAG3AAAABhtYXhwAA8AcgAABvQAAAAgbmFtZVcZpu4AAAcUAAABRXBvc3QAAwAAAAAIXAAAACAAAwIAAZAABQAAAUwBZgAAAEcBTAFmAAAA9QAZAIQAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADw3gHg/+D/4AHgACAAAAABAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEAGAAAAAUABAAAwAEAAEAIPAC8AfwDfBF8Mnw3v/9//8AAAAAACDwAvAH8A3wRfDJ8N3//f//AAH/4xACD/4P+Q/CDz8PLAADAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAIAAP/bAdsBtwAmADcAADc0NzY3Njc2MzIXFhcWFxYVFAcXFhUUBwYjIi8BBiMiJyYnJicmNTMUFxYzMjc2NTQnJiMiBwYVABAQGxslJSkpJSYbGw8QI2IKCgsPEApiMz8pJSUbGxAQSSYlNTUmJSUmNTUlJu4pJSUbGxAQEBAbGyUlKT8zYgsPDwsLC2IjDxAbGyYlKTUmJSUmNTUlJiYlNQAAAgAAAAABkgG3ADUARgAANzQ3Njc2NzY3Njc2NzYzMhcWFxYXFjMyNzY3Njc2MzIXFhcWFxYXFhcWFxYVFAcGKwEiJyY1NzQ3NjMyFxYVFAcGIyInJjUAAQEDAwUECAgKCg4OEgIKCQwMExMTExMTDAwJCgISDg8KCgcIBQQDAwEBFRQj+iIVFVshIC0uICAgIC4tICFKDw8OERAPDg4NCgkGBgYHBwgGBgYGCAcHBgYGCQoNDg4PEBEODw8iFBQUFCL/LiAgICAuLSAhISAtAAEAHwAfAXMBcwAsAAA3ND8BJyY1ND8BNjMyHwE3NjMyHwEWFRQPARcWFRQPAQYjIi8BBwYjIi8BJjUfCFRUCAgnCAwLCFRUCAwLCCcICFRUCAgnCAsMCFRUCAsMCCcIYgsIVFQIDAsIJwgIVFQICCcICwwIVFQICwwIJwgIVFQICCcIDAAAAAACAAAAJQHbAdsAMgBvAAA3NTQ3NjsBMhcWFRQHBgcGKwEiBwYdARQXFjsBMjc2PQE0NzY3NhcWHQEUBwYrASInJjU3NDc2NzY3Njc2NzY3Njc2NzY7ATU0NzYzMh8BFhUUDwEGIyInJj0BIyIHBhcWByIjIicmJyYnJicmJyY1ABgYIkkEAwIHFhADAiATDQ0NDRPuEw0OBQgHBQUGGBgi7iIYGEkBAQMDBQUJCAsLEBAUExoaHi4LBAMIBW4FBW4FCAMECy5cISINAQcCAQUCAwMECAgGBgUFd+4iGBgDAwMIAQgKAQ0OEu4TDQ4ODRM9BQMEBwQCAgZKIhgYGBgidw4MDA0ODAsMDAkJCQgFBgMDNwwFAQVuBQgHBW4GAgUMNyYnYAcDAwQFBQ8PDQ4TExAAAAMAAAAlAbcBkgAUACkAPgAANzU0NzY3BTYXFh0BFAcGJwUmJyY1PQE0NzYXJRYXFh0BFAcGByUGJyY1PQE0NzY3BTYXFh0BFAcGJwUmJyY1AAUGBwGTBwUGBgUH/m0HBgUFBgcBkwcFBgYFB/5tBwYFBQYHAZMHBQYGBQf+bQcGBTclBwYFAQEBBwQJIwkEBgEBAQQGB5MkCAUGAQEBBAcGJgYHBAEBAQYFCJEmBgcEAQEBBgUIJAgEBwEBAQUGBgAAAAABAAAAEgElALcAEwAANzQ3NjMhMhcWFRQPAQYjIi8BJjUABQYHAQAIBQYGgAUIBwaABaUHBQYGBQcIBYAGBoAFCAAAAAEAAAEAASUBpQATAAATND8BNhc2HwEWFRQHBicFJicmNQAFgAYHCAWABgYFCP8ABwYFARIHBn8HAQEHfwYHCAUGAQEBBAcGAAEAAAABAACzhyoSXw889QALAgAAAAAA0FoS6AAAAADQWhLoAAD/2wHbAdsAAAAIAAIAAAAAAAAAAQAAAeD/4AAAAgAAAAAAAdsAAQAAAAAAAAAAAAAAAAAAAAsAAAAAAAAAAAAAAAABAAAAAdwAAAGTAAABkwAfAdwAAAIAAAABJQAAASUAAAAAAAAACgAUAB4AcADYARwBtgIYAjoCXgABAAAACwBwAAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoANABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoANABjAGkAYwBvAG0AbwBvAG4AVgBlAHIAcwBpAG8AbgAgADEALgAwAGkAYwBvAG0AbwBvAG5pY29tb29uAGkAYwBvAG0AbwBvAG4AUgBlAGcAdQBsAGEAcgBpAGMAbwBtAG8AbwBuAEYAbwBuAHQAIABnAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4ALgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('truetype'),
         url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAjIAAsAAAAACHwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgCCMHlGNtYXAAAAFoAAAAdAAAAHTRf9GTZ2FzcAAAAdwAAAAIAAAACAAAABBnbHlmAAAB5AAABLwAAAS8/gV5zGhlYWQAAAagAAAANgAAADYBrmaDaGhlYQAABtgAAAAkAAAAJAO9AexobXR4AAAG/AAAACwAAAAsDCgAH2xvY2EAAAcoAAAAGAAAABgE8AYWbWF4cAAAB0AAAAAgAAAAIAAPAHJuYW1lAAAHYAAAAUUAAAFFVxmm7nBvc3QAAAioAAAAIAAAACAAAwAAAAMCAAGQAAUAAAFMAWYAAABHAUwBZgAAAPUAGQCEAAAAAAAAAAAAAAAAAAAAARAAAAAAAAAAAAAAAAAAAAAAQAAA8N4B4P/g/+AB4AAgAAAAAQAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABABgAAAAFAAQAAMABAABACDwAvAH8A3wRfDJ8N7//f//AAAAAAAg8ALwB/AN8EXwyfDd//3//wAB/+MQAg/+D/kPwg8/DywAAwABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAACAAD/2wHbAbcAJgA3AAA3NDc2NzY3NjMyFxYXFhcWFRQHFxYVFAcGIyIvAQYjIicmJyYnJjUzFBcWMzI3NjU0JyYjIgcGFQAQEBsbJSUpKSUmGxsPECNiCgoLDxAKYjM/KSUlGxsQEEkmJTU1JiUlJjU1JSbuKSUlGxsQEBAQGxslJSk/M2ILDw8LCwtiIw8QGxsmJSk1JiUlJjU1JSYmJTUAAAIAAAAAAZIBtwA1AEYAADc0NzY3Njc2NzY3Njc2MzIXFhcWFxYzMjc2NzY3NjMyFxYXFhcWFxYXFhcWFRQHBisBIicmNTc0NzYzMhcWFRQHBiMiJyY1AAEBAwMFBAgICgoODhICCgkMDBMTExMTEwwMCQoCEg4PCgoHCAUEAwMBARUUI/oiFRVbISAtLiAgICAuLSAhSg8PDhEQDw4ODQoJBgYGBwcIBgYGBggHBwYGBgkKDQ4ODxARDg8PIhQUFBQi/y4gICAgLi0gISEgLQABAB8AHwFzAXMALAAANzQ/AScmNTQ/ATYzMh8BNzYzMh8BFhUUDwEXFhUUDwEGIyIvAQcGIyIvASY1HwhUVAgIJwgMCwhUVAgMCwgnCAhUVAgIJwgLDAhUVAgLDAgnCGILCFRUCAwLCCcICFRUCAgnCAsMCFRUCAsMCCcICFRUCAgnCAwAAAAAAgAAACUB2wHbADIAbwAANzU0NzY7ATIXFhUUBwYHBisBIgcGHQEUFxY7ATI3Nj0BNDc2NzYXFh0BFAcGKwEiJyY1NzQ3Njc2NzY3Njc2NzY3Njc2OwE1NDc2MzIfARYVFA8BBiMiJyY9ASMiBwYXFgciIyInJicmJyYnJicmNQAYGCJJBAMCBxYQAwIgEw0NDQ0T7hMNDgUIBwUFBhgYIu4iGBhJAQEDAwUFCQgLCxAQFBMaGh4uCwQDCAVuBQVuBQgDBAsuXCEiDQEHAgEFAgMDBAgIBgYFBXfuIhgYAwMDCAEICgENDhLuEw0ODg0TPQUDBAcEAgIGSiIYGBgYIncODAwNDgwLDAwJCQkIBQYDAzcMBQEFbgUIBwVuBgIFDDcmJ2AHAwMEBQUPDw0OExMQAAADAAAAJQG3AZIAFAApAD4AADc1NDc2NwU2FxYdARQHBicFJicmNT0BNDc2FyUWFxYdARQHBgclBicmNT0BNDc2NwU2FxYdARQHBicFJicmNQAFBgcBkwcFBgYFB/5tBwYFBQYHAZMHBQYGBQf+bQcGBQUGBwGTBwUGBgUH/m0HBgU3JQcGBQEBAQcECSMJBAYBAQEEBgeTJAgFBgEBAQQHBiYGBwQBAQEGBQiRJgYHBAEBAQYFCCQIBAcBAQEFBgYAAAAAAQAAABIBJQC3ABMAADc0NzYzITIXFhUUDwEGIyIvASY1AAUGBwEACAUGBoAFCAcGgAWlBwUGBgUHCAWABgaABQgAAAABAAABAAElAaUAEwAAEzQ/ATYXNh8BFhUUBwYnBSYnJjUABYAGBwgFgAYGBQj/AAcGBQESBwZ/BwEBB38GBwgFBgEBAQQHBgABAAAAAQAAs4cqEl8PPPUACwIAAAAAANBaEugAAAAA0FoS6AAA/9sB2wHbAAAACAACAAAAAAAAAAEAAAHg/+AAAAIAAAAAAAHbAAEAAAAAAAAAAAAAAAAAAAALAAAAAAAAAAAAAAAAAQAAAAHcAAABkwAAAZMAHwHcAAACAAAAASUAAAElAAAAAAAAAAoAFAAeAHAA2AEcAbYCGAI6Al4AAQAAAAsAcAADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKADQAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKADQAYwBpAGMAbwBtAG8AbwBuAFYAZQByAHMAaQBvAG4AIAAxAC4AMABpAGMAbwBtAG8AbwBuaWNvbW9vbgBpAGMAbwBtAG8AbwBuAFIAZQBnAHUAbABhAHIAaQBjAG8AbQBvAG8AbgBGAG8AbgB0ACAAZwBlAG4AZQByAGEAdABlAGQAIABiAHkAIABJAGMAbwBNAG8AbwBuAC4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
    font-weight: 400;
    font-style: normal
}

.icoFont {
    font-family: 'icomoon';
    speak:none;
    font-style:normal;
    font-weight:400;
    font-variant:normal;
    text-transform:none;
    line-height:1;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}

.icoSearch {
    composes: icoFont;
}

.icoNavIcon {
    composes: icoFont;
}

.icoSearch:before {
    content: "\f002";
}

.icoNavIcon:before {
    content: "\f0c9";
}


/***
Accessibility
 */
.srOnly {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.srOnly:focus {
    position: static;
    clip: auto;
    overflow: visible;
    width: auto;
    height: auto;
    margin: 0;
}

