:root {
    --asu-maroon: rgb(140, 29, 64);
    --asu-gold: rgb(255, 198, 39);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --asu-green: rgb(120, 190, 32);
    --asu-blue: rgb(0, 163, 224);
    --asu-orange: rgb(255, 127, 50);
    --asu-grey: rgb(92, 102, 112);
}