@import '../../../styles/ASU.css';

/***
ASUSiteName component
 */
.asuSiteName {
    color: #2a2a2a;
    font-family: var(--asu-fonts);
    font-size: 1.5em;
    line-height: 1;
    letter-spacing: -0.5px;
    padding: 0 0 2px 10px;
    margin-top: 5px;
    overflow: hidden;
}

.asuSiteNameLink {
    color: #2a2a2a;
    text-decoration: none;
    border-bottom: none;
    transition: none;
}

.asuSiteNameLink span {
    font-weight: bold;
}

.asuSiteNameParentOrg {
    border-right: 2px solid #666;
    padding-right: 7px;
    margin-right: 7px;
}

.asuSiteNameTitle {
    color: #666666;
}

/***
Logo
 */
.asuLogo {
    margin:0;
    float:left;
    width:200px;
    padding:12px 0 0;
}





/***
Mobile
 */
@media only screen and (max-width: 990px) {

    .asuSiteName {
        font-size: .9375em;
        padding: 12px .9375em;
        color: #FFF;
        background: #505558;
        font-weight: 600;
        line-height: 1em;
    }

    .asuSiteNameLink {
        display: inline-block;
        padding: 0;
        color: #fff;
        background-color: #505558;
        line-height: 1em;
        letter-spacing: -.5px;
    }

    .asuSiteNameTitle {
        color: #FFF;
    }
}