<!doctype html>
<html lang="en">

<head>
  <title>ASU Header Guide</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap includes for asu-web-standards-bootstrap4-->
  <link rel="stylesheet" href="../@asu/unity-bootstrap-theme/css/unity-bootstrap-theme.bundle.css" type="text/css" media="all">
  <script type="text/javascript" src="../@asu/unity-bootstrap-theme/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../@asu/unity-bootstrap-theme/js/data-layer.js"></script>
  <script type="text/javascript" src="../@asu/unity-bootstrap-theme/js/global-header.js"></script>
  <script src="https://kit.fontawesome.com/35fb12a3a9.js" crossorigin="anonymous"></script>

  <style>
    /** Basic resets **/
    html {
      box-sizing: border-box;
      font-size: 16px;
    }

    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }

    body {
      margin: 0;
      padding: 0;
      font-weight: normal;
      font-family: Arial;
    }

    ol,
    ul {
      list-style: bullet;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ol,
    ul {
      margin: 1rem 2rem;

    }
  </style>
</head>

<body>
<div>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <header
            class="fixed-top"
            data-elastic-exclude="data-elastic-exclude"
            id="asu-header"
          >
            <div id="wrapper-header-top">
              <div class="container-xl">
                <div class="row">
                  <div
                    class="col-12"
                    id="header-top"
                  >
                    <nav
                      aria-label="ASU"
                      class="nav"
                    >
                      <a
                        class="nav-link visually-hidden visually-hidden-focusable"
                        href="#skip-to-content"
                      >
                        Skip to main content
                      </a>
                      <a
                        class="nav-link visually-hidden visually-hidden-focusable"
                        href="http://asu.edu/accessibility/feedback?a11yref=unity-design-system"
                      >
                        Report an accessibility problem
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="asu home"
                        data-ga-header-section="topbar"
                        href="https://asu.edu"
                      >
                        ASU Home
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="my asu"
                        data-ga-header-section="topbar"
                        href="https://my.asu.edu"
                      >
                        My ASU
                      </a>
                      <a
                        class="nav-link"
                        data-ga-header="colleges and schools"
                        data-ga-header-section="topbar"
                        href="https://www.asu.edu/academics/colleges-schools"
                      >
                        Colleges and Schools
                      </a>
                      <div class="nav-link login-status">
                        <a
                          class="name"
                          href="#"
                        >
                          Sparky
                        </a>
                        <a
                          class="signout"
                          data-ga-header="sign out"
                          data-ga-header-section="topbar"
                          href="#"
                        >
                          Sign Out
                        </a>
                      </div>
                      <form
                        action="https://search.asu.edu/search"
                        class="form-inline"
                        method="get"
                        name="gs"
                      >
                        <input
                          aria-labelledby="header-top-search"
                          class="form-control"
                          data-ga-input-header-event="search"
                          name="q"
                          required
                          type="search"
                        />
                        <label id="header-top-search">
                          Search asu.edu
                        </label>
                        <input
                          name="site"
                          type="hidden"
                          value="default_collection"
                        />
                        <input
                          name="sort"
                          type="hidden"
                          value="date:D:L:d1"
                        />
                        <input
                          name="output"
                          type="hidden"
                          value="xml_no_dtd"
                        />
                        <input
                          name="ie"
                          type="hidden"
                          value="UTF-8"
                        />
                        <input
                          name="oe"
                          type="hidden"
                          value="UTF-8"
                        />
                        <input
                          name="client"
                          type="hidden"
                          value="asu_frontend"
                        />
                        <input
                          name="proxystylesheet"
                          type="hidden"
                          value="asu_frontend"
                        />
                      </form>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
            <div id="wrapper-header-main">
              <div class="container-xl">
                <div class="row">
                  <div
                    class="col-12"
                    id="header-main"
                  >
                    <div class="navbar navbar-expand-xl">
                      <div class="container-fluid">
                        <a
                          class="navbar-brand"
                          data-ga-header="asu logo"
                          href="#"
                        >
                          <img
                            alt="Arizona State University"
                            class="vert"
                            src="https://www.asu.edu/asuthemes/5.0/assets/arizona-state-university-logo-vertical.png"
                          />
                          <img
                            alt="Arizona State University"
                            class="horiz"
                            src="https://www.asu.edu/asuthemes/5.0/assets/arizona-state-university-logo.png"
                          />
                        </a>
                        <button
                          aria-controls="menubar"
                          aria-expanded="false"
                          aria-label="Toggle navigation"
                          class="navbar-toggler collapsed"
                          data-ga-header="menu button label"
                          data-ga-header-event="collapse"
                          data-ga-header-type="click"
                          data-bs-target="#menubar"
                          data-bs-toggle="collapse"
                          type="button"
                        >
                          <span
                            alt=""
                            class="fa fa-bars"
                            title="Open mobile menu"
                          ></span>
                          <span
                            class="fa-stack"
                            title="Close mobile menu"
                          >
                            <i
                              alt=""
                              class="fa fa-circle fa-stack-2x"
                            >
                            </i>
                            <i
                              alt=""
                              class="fa fa-times fa-stack-1x"
                            ></i>
                          </span>
                        </button>
                        <div class="navbar-container no-links">
                          <div class="title subdomain-name">
                            <a
                              data-ga-header="Subdomain name"
                              href="#"
                              title="Subdomain name home page"
                            >
                              Unity Design
                            </a>
                          </div>
                          <div
                            class="collapse navbar-collapse w-100 justify-content-between"
                            id="menubar"
                          >
                            <div class="navbar-mobile-footer pinned">
                              <form
                                action="https://search.asu.edu/search"
                                class="form-inline navbar-mobile-search"
                                method="get"
                                name="gs"
                              >
                                <input
                                  aria-label="Search"
                                  class="form-control"
                                  name="q"
                                  placeholder="Search asu.edu"
                                  type="search"
                                />
                                <input
                                  name="site"
                                  type="hidden"
                                  value="default_collection"
                                />
                                <input
                                  name="sort"
                                  type="hidden"
                                  value="date:D:L:d1"
                                />
                                <input
                                  name="output"
                                  type="hidden"
                                  value="xml_no_dtd"
                                />
                                <input
                                  name="ie"
                                  type="hidden"
                                  value="UTF-8"
                                />
                                <input
                                  name="oe"
                                  type="hidden"
                                  value="UTF-8"
                                />
                                <input
                                  name="client"
                                  type="hidden"
                                  value="asu_frontend"
                                />
                                <input
                                  name="proxystylesheet"
                                  type="hidden"
                                  value="asu_frontend"
                                />
                              </form>
                              <div class="nav-grid">
                                <a
                                  class="nav-link"
                                  data-ga-header="asu home"
                                  data-ga-header-section="topbar"
                                  href="https://asu.edu"
                                >
                                  ASU Home
                                </a>
                                <a
                                  class="nav-link"
                                  data-ga-header="my asu"
                                  data-ga-header-section="topbar"
                                  href="https://my.asu.edu"
                                >
                                  My ASU
                                </a>
                                <a
                                  class="nav-link"
                                  data-ga-header="colleges and schools"
                                  data-ga-header-section="topbar"
                                  href="https://www.asu.edu/academics/colleges-schools"
                                >
                                  Colleges and Schools
                                </a>
                                <a
                                  class="nav-link"
                                  data-ga-header="sign in"
                                  data-ga-header-section="topbar"
                                  href="https://weblogin.asu.edu/cgi-bin/login"
                                >
                                  Sign In
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </header>
          <div
            class="wrapper"
            id="page-wrapper"
          >
            <div
              class="visually-hidden"
              id="skip-to-content"
            >
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <!-- Include pre-rendered AsuBrandHeader React component -->
    {# <div id="headerContainer">{% include "static-header.njk" %}</div> #}

    <!-- AsuCookieConsent container TODO Build as include like others? -->
    <div id="cookieConsentContainer" class="cookieConsentContainer"></div>
    <!-- end AsuCookieConsent container -->

    <section id="test-content">

      <div class="row">
        <div class="col-12">
          <h1 class="display-4">ASU Header Guide</h1>

          <p>Testing data shows that users see asu.edu as one website. The ASU global header
            should appear on every subdomain and page of asu.edu to ensure and optimal
            user experience as they navigate across asu.edu.</p>

          <h2>The ASU Header is delivered in five ways</h2>

          <h3>Components Header</h3>
          <p><strong>Preferred:</strong> Intended for use within platforms and applications, this
            header variant is built using React as a peer dependency and can be implemented
            using the <a href="/asu-unity-stack/@asu/component-header/index.html">
              @asu/component-header</a> package. This version of
            the header does not bundle Cookie Consent or Google Tag Manager.
            Site developers using this header must implement Cookie Consent
            using the @asu/component-cookie-consent package themselves for
            public-facing sites. Similarly, site developers should add Google
            Tag Manager code snippets to their sites. See below for guidance in
            both cases and instructions for installing packages.</p>

          <h3>Components Library Header - deprecated and no longer maintained</h3>
          <p><strong>Deprecated in favor of Component Header:</strong>
            Intended for use within platforms and applications, this
            header variant is built using Preact and can be implemented
            using the <a href="/asu-unity-stack/@asu/components-library/index.html">
              @asu/components-library</a> package. This version of
            the header does not bundle Cookie Consent or Google Tag Manager.
            Site developers using this header must implement Cookie Consent
            using the @asu/component-cookie-consent package themselves for
            public-facing sites. Similarly, site developers should add Google
            Tag Manager code snippets to their sites. See below for guidance in
            both cases and instructions for installing packages.</p>

          <h3>ASUThemes component header - deprecated and no longer maintained</h3>
          <p>The ASU Web Standards 2.0 header is made available through
            ASUThemes for use in ASU enterprise apps. It is no longer
            maintained and sites should transition to use of another option.
            This option is an alternative packaging of the deprecated
            Components Library header. Note: this version of the header bundles
            the ASU Cookie Consent but does not provide Google Tag Manager
            code. Read below about how to implement GTM on enterprise sites.
          </p>

          <h3>Integrated CMS header modules and plugins</h3>
          <p>CMS modules and plugins providing the ASU header should implement
            it using the <a href="/asu-unity-stack/@asu/components-header/index.html">
              @asu/components-header</a> package and should also
            bundle the Component Cookie Consent component, and Google Tag
            Manager code. Modules and plugins should provide configurability so
            that Cookie Consent can be disabled for sites that are not
            public-facing, and configurability so GTM can be disabled and so
            multiple Google Tag Manager IDs may be used. Additional GTM IDs
            should be additive and not overwrite the ASU Universal GTM ID.
            Header modules and plugins are to be shipped with their respective
            CMS platform distributions.</p>

          <h3>Unity Bootstrap Theme header</h3>
          <p>Primarily used as a reference point, the Bootstrap header
            provided via the <a href="/asu-unity-stack/@asu/unity-bootstrap-theme/index.html">
              @asu/unity-bootstrap-theme</a> package is a plain HTML and
            CSS Web Standards 2 header implementation built without embedded
            components for Cookie Consent and Google Tag Manager. Site
            developers using this header must implement Component Cookie Consent
            using the @asu/component-cookie-consent package themselves for
            public-facing sites. Similarly, site developers should add Google
            Tag Manager code snippets to their sites. See below for guidance
            in both cases.</p>

          <h2>Notes on additional requirements for sites using the header</h2>

          <p>In addition to the header, ASU sites must, as a general rule
            implement the Web Standards 2 Cookie Consent component for GDPR
            compliance and include appropriate Google Tag Manager code. Read
            further for options and guidance on how to implement these in your
            application or site.</p>

          <h2>Cookie Consent (GDPR compliance)</h2>
          <p>Before implementing Cookie Consent yourself, please review the
            options for obtaining the ASU Header. Some options provide the
            Cookie Consent component automatically bundled.</p>

          <p>If you need to install the Cookie Consent component yourself,
            please see the section "Installing Unity components from
            the Unity package registry."</p>

          <h2>Google Tag Manager (GTM)</h2>
          <p>See the <a href="/asu-unity-stack/gtm-datalayer/index.html">Google Tag Manager (GTM) and Data
          Layer</a> page for details on using Google Tag Manager in your site
          or application.</p>

          <h2>Installing Unity components from the Unity package registry</h2>

          <p><a href="https://github.com/ASU/asu-unity-stack#-how-to-use-the-private-package-registry">
            Learn how to use the private package registry</a> and begin using
              Unity packages in your ASU site or application. <a href="https://github.com/orgs/ASU/packages?repo_name=asu-unity-stack">
              Visit the page for the @asu package you wish to use</a> to
            find further instructions on how to install and
            implement the package for your site or application.</p>

        </div>
      </div>
    </section>

  </div>
  <footer>
    <div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <footer
          data-elastic-exclude="data-elastic-exclude"
          id="asu-footer"
          role="contentinfo"
        >
          <div
            class="wrapper"
            id="wrapper-footer-innovation"
          >
            <div
              class="container"
              id="footer-innovation"
            >
              <div class="row">
                <div class="col">
                  <div class="d-flex footer-innovation-links">
                    <nav
                      aria-label="University Services"
                      class="nav"
                    >
                      <a
                        class="nav-link"
                        data-ga-footer="maps and locations"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/about/locations-maps"
                      >
                        Maps and Locations
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="jobs"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/asujobs"
                      >
                        Jobs
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="directory"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://isearch.asu.edu/"
                      >
                        Directory
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="contact asu"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://www.asu.edu/about/contact"
                      >
                        Contact ASU
                      </a>
                      <a
                        class="nav-link"
                        data-ga-footer="my asu"
                        data-ga-footer-section="secondary footer"
                        data-ga-footer-type="internal link"
                        href="https://my.asu.edu/"
                      >
                        My ASU
                      </a>
                    </nav>
                    <a
                      class="img-link"
                      data-ga-footer="#1 in the u.s. for innovation"
                      data-ga-footer-section="secondary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/rankings"
                    >
                      <img
                        alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020"
                        src="https://www-dev.asu.edu/asuthemes/5.0/assets/Number-1-in-the-us-for-innovation@2x.png"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="wrapper"
            id="wrapper-footer-colophon"
          >
            <div
              class="container"
              id="footer-colophon"
            >
              <div class="row">
                <div class="col">
                  <nav
                    aria-label="University Legal and Compliance"
                    class="nav colophon"
                  >
                    <a
                      class="nav-link"
                      data-ga-footer="copyright and trademark"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/copyright-trademark"
                    >
                      Copyright and Trademark
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="accessibility"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/accessibility/"
                    >
                      Accessibility
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="privacy"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/privacy"
                    >
                      Privacy
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="terms of use"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/about/terms-of-use"
                    >
                      Terms of Use
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="emergency"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://www.asu.edu/emergency/"
                    >
                      Emergency
                    </a>
                    <a
                      class="nav-link"
                      data-ga-footer="covid-19 information"
                      data-ga-footer-section="tertiary footer"
                      data-ga-footer-type="internal link"
                      href="https://eoss.asu.edu/health/announcements/coronavirus"
                    >
                      COVID-19 Information
                    </a>
                  </nav>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
</div>

    <script>

      var props = {
        navTree: [
          {
            href: "/",
            text: "Home",
            type: "icon-home", // Home icon
            class: "test-class", // classes passed to <a> tag
            selected: true  // set to true to  highlight menu item

          }, {
            text: "My ASU",
            href: "https://webapp4.asu.edu/myasu/"
          },
          {
            text: "Two Column Submenu",
            href: "/",
            items: [
              [
                {
                  type: "heading",
                  text: "Column One Heading"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Pellentesque ornare"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Curabitur viverra arcu nisl"
                }
              ],
              [
                {
                  href: "https://www.asu.edu/?feature=newsevents",
                  type: "heading",
                  text: "Column Two Heading"
                }, {
                  href: "https://www.asu.edu/?feature=academics",
                  text: "Nunc in libero odio"
                }
              ]
            ]
          }
        ],
        mobileNavTree: [
          {
            href: "/",
            text: "This",


          }, {
            text: "Is A",
            href: "https://webapp4.asu.edu/myasu/"
          },
          {
            text: "Mobile Nav Tree",
            href: "/",
            items: [
              [
                {
                  type: "heading",
                  text: "Column One Heading"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Pellentesque ornare"
                }, {
                  href: "https://www.asu.edu/",
                  text: "Curabitur viverra arcu nisl"
                }
              ],
              [
                {
                  href: "https://www.asu.edu/?feature=newsevents",
                  type: "heading",
                  text: "Column Two Heading"
                }, {
                  href: "https://www.asu.edu/?feature=academics",
                  text: "Nunc in libero odio"
                }
              ]
            ]
          }
        ],
        title: "Unity Design",
        baseUrl: "/"
      };

      // Initialize cookie consent banner
      AsuCookieConsent.init();
    </script>
  </footer>
  <script>
    window.initDataLayer();
    window.initGlobalHeader();
  </script>
</body>

</html>
