name: development-workflow
on:
  push:
    branches: ["develop-gha"]

jobs:
  run-yarn-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup node to install packages from npm
        uses: actions/setup-node@v2
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        with:
          node-version: "12.x"
          registry-url: "https://registry.web.asu.edu/"

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Yarn cache
        uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install and build
        run: |
          yarn install
          yarn build

      # - name: Run tests
      #   run: |
      #     echo 'Tests temporarily disabled'
      #     echo 'Could run yarn lint here'
      #     echo 'Or yarn test:e2e or yarn percy, once tests are ready'

      # - name: Prebuild storybook build
      #   run: |
      #     yarn deploy-storybook --dry-run

      # - name: Copy and compile nunjucks templates
      #   run: |
      #     yarn gulp

      - name: Setup node for publishing to Github packages
        uses: actions/setup-node@v2
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          node-version: "12.x"
          registry-url: "https://npm.pkg.github.com"
          scope: "@asu"

      - name: Yarn publish packages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn publish-packages

      # - name: Publish to Github Pages
      #   run: |
      #     yarn deploy-storybook --existing-output-dir=build
